{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header text-muted fw-bold">
					Авторизация
				</div>
				<div class="card-body">
					<form method="post">
						{{ form.csrf_token }}
						<div class="row mb-3">
							{{ form.email.label (class_ = "col-md-4 col-form-label") }}
							<div class="col-md-6">
								{{ form.email(class_ = 'form-control', autofocus = '') }}
							</div>
						</div>
						<div class="row mb-3">
							{{ form.password.label (class_ = "col-md-4 col-form-label") }} 
							<div class="col-md-6">
								{{ form.password(class_ = 'form-control') }}
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-md-6 offset-md-4">
								<div class="form-check">
									{{ form.remember_me(class_="form-check-input") }}
									{{ form.remember_me.label(class_="form-check-label") }}
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-md-6 offset-md-4">
								{{ form.submit(class_ = 'btn btn-primary') }}
								<a href="{{ url_for('auth.PerformRegistration') }}" class="btn btn-link">
									Регистрация
								</a>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<a href="{{ url_for('auth.RequestPaswordReset') }}">Не помню пароль</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}