alembic
gevent
certifi
chardet
click
dateparser
dnspython
email-validator
Flask
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
idna
Jinja2
Mako
MarkupSafe
moment
openpyxl
PyJWT
python-dateutil
python-dotenv
pytz
SQLAlchemy
times
tzlocal
urllib3
Werkzeug
WTForms
pandas
mysql-connector-python
mysqlclient
celery
