<p>
Вы получили это письмо как инициатор заявки #{{ order['vendorOrderNumber'] }}, которая была {%if approval %} согласована {% else %}отклонена {% endif %}на стадии согласования
пользователем {{ current_user.name }}({{ current_user.email }})
</p>
<p>
Нажмите на <a href="{{ url_for('main.ShowOrder', order_id = order['orderNumber'], _external=True) }}">ссылку</a> для перехода в Личный Кабинет для ознакомления с комментариями и внесения исправлений.
</p>
<p>
Это автоматическое уведомление, не отвечайте на него.
</p>