<p>
Вы создали заявку через PUSHKIND с электронного адреса {{ order['email'] }}.
Для того, чтобы закончить формирование заявки и сделать её доступной для согласования, надо пройти авторизацию.
</p>
<p>
Нажмите на <a href="{{ url_for('main.ShowIndex', _external=True) }}">ссылку</a> для регистрации в Личном Кабинете. Это займет несколько секунд.
После проверки и предоставления прав доступа вам будет направлен мейл с уведомлением и разъяснением дальнейших шагов. Обычно это занимает не более 1 рабочего дня.
</p>
<p>
Это автоматическое уведомление, не отвечайте на него. В случае возникновения вопросов по заявке - свяжитесь с администратором.
</p>
