<div class = "container border bg-light  my-1 ecwidOrder" id="order{{ order['orderNumber'] }}">
	<div class="row my-1">
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Номер: </span>
			{{ order['orderNumber'] }}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Дата: </span>
			{{ order['createDate'].strftime('%Y-%m-%d %H:%M:%S') }}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Инициатор: </span>
			{{ order['orderComments'] }}
		</div>
		{% if approval_form %}
			<div class="col-sm overflow-hidden">
				<span class="d-sm-none font-weight-bold">Сумма: </span>
				<span id="orderTotal">{{ '{:,.2f}'.format(order['total']) }}</span>
			</div>
		{% else %}
			<div class="col-sm overflow-hidden">
				<span class="d-sm-none font-weight-bold">Сумма: </span>
				{{ '{:,.2f}'.format(order['total']) }}
			</div>
		{% endif %}
		{% if approval_form %}
			{% if current_user.role.name == 'approver' %}
				<div class="col-sm overflow-hidden">
					<form action="{{ url_for('main.SaveApproval', order_id = order['orderNumber']) }}" method="POST">
						{{ approval_form.csrf_token }}
						<span class="d-sm-none font-weight-bold">Согласование: </span>
						{% if order['approval'] %}
							<button type="submit" class="btn btn-success">
								<img class="octicon" src="/static/octicons/check.svg" alt="Одобрить">
							</button>
						{% else %}
							<button type="submit" class="btn btn-secondary">
								<img class="octicon" src="/static/octicons/check.svg" alt="Одобрить">
							</button>
						{% endif %}
					</form>
				</div>
			{% endif %}
		{% else %}
			<div class="col-sm overflow-hidden">
				<span class="d-sm-none font-weight-bold">Согласование: </span>
				{% if order['approval'] == 'approved' %}
					<button class="btn btn-success my-1"><img class="octicon" src="/static/octicons/check.svg" alt="Согласовать"></button>
				{% elif order['approval'] == 'partly_approved' %}
					<button class="btn btn-info my-1"><img class="octicon" src="/static/octicons/check.svg" alt="Согласовать"></button>
				{% elif order['approval'] == 'not_approved' %}
					<button class="btn btn-danger my-1"><img class="octicon" src="/static/octicons/check.svg" alt="Согласовать"></button>
				{% else %}
					<button class="btn btn-secondary my-1"><img class="octicon" src="/static/octicons/check.svg" alt="Согласовать"></button>
				{% endif %}
				
			</div>	
		{% endif %}
	</div>
</div>