{% if order.children | length == 1 %}
	<span class="badge bg-white text-muted border fw-normal">&sum; {{ order.child_id }}</span>
{% elif order.children | length > 1 %}
	<span class="badge bg-danger text-muted border fw-normal">Разделена</span>
{% else %}
	{% if order['status'].name == 'new' %}
		<span class="badge bg-white text-secondary border fw-normal">{{ order.status }}</span>
	{% elif order['status'].name == 'partly_approved' %}
		<span class="badge bg-{{order['status'].color()}} fw-normal">
			{{ order.approvals|selectattr('approved')|list|length }}
			из
			{{ order.approvals|length }}
		</span>
	{% else %}
		<span class="badge bg-{{order['status'].color()}} fw-normal">{{ order.status }}</span>
	{% endif %}
	{% if order.purchased %}
		<span class="badge bg-white text-dark border fw-normal"><i class="bi bi-envelope"></i></span>
	{% endif %}
	{% if order.exported %}
		<span class="badge bg-white text-dark border fw-normal">1C</span>
	{% endif %}
	{% if order.dealdone %}
		<span class="badge bg-white text-dark border fw-normal">законтрактовано</span>
	{% endif %}
{% endif %}