<div class = "container border bg-light  mb-2">
	<div class="row mb-2">
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Номер: </span>
			{{ order['orderNumber'] }}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Дата: </span>
			{{ order['createDate'] }}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Инициатор: </span>
			{{ order['orderComments'] }}
		</div>
		{% if approval_form %}
			{% if current_user.role.name == 'approver' %}
				<div class="col-sm overflow-hidden">
					<form action="{{ url_for('main.SaveApproval', order_id = order['orderNumber']) }}" method="POST">
						{{ approval_form.csrf_token }}
						<span class="d-sm-none font-weight-bold">Согласование: </span>
						{% if order['approval'] %}
							<button type="submit" class="btn btn-success">
								<img class="octicon" src="http://admin.pushkind.com/static/octicons/check.svg" alt="Одобрить">
							</button>
						{% else %}
							<button type="submit" class="btn btn-secondary">
								<img class="octicon" src="http://admin.pushkind.com/static/octicons/check.svg" alt="Одобрить">
							</button>
						{% endif %}
					</form>
				</div>
			{% endif %}
		{% else %}
			<div class="col-sm overflow-hidden">
				<span class="d-sm-none font-weight-bold">Согласование: </span>

				{% if order['approval'] == 'approved' %}
					<a role="button" class="btn btn-success my-1" href="{{ url_for('main.ShowOrder', order_id = order['orderNumber']) }}"><img class="octicon" src="http://admin.pushkind.com/static/octicons/check.svg" alt="Согласовать"></a>
				{% elif order['approval'] == 'partly_approved' %}
					<a role="button" class="btn btn-info my-1" href="{{ url_for('main.ShowOrder', order_id = order['orderNumber']) }}"><img class="octicon" src="http://admin.pushkind.com/static/octicons/check.svg" alt="Согласовать"></a>
				{% elif order['approval'] == 'not_approved' %}
					<a role="button" class="btn btn-danger my-1" href="{{ url_for('main.ShowOrder', order_id = order['orderNumber']) }}"><img class="octicon" src="http://admin.pushkind.com/static/octicons/check.svg" alt="Согласовать"></a>
				{% else %}
					<a role="button" class="btn btn-secondary my-1" href="{{ url_for('main.ShowOrder', order_id = order['orderNumber']) }}"><img class="octicon" src="http://admin.pushkind.com/static/octicons/check.svg" alt="Согласовать"></a>
				{% endif %}
				
			</div>	
		{% endif %}
	</div>
</div>