<div class = "container border-bottom ecwidOrder" id="order{{order['orderNumber']}}">
	<div class="row">
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Номер: </span>
			{% if approval_form %}
				#{{ order['vendorOrderNumber'] }}
				{% if current_user.role.name == 'initiative' %}
					<a class="badge badge-danger" href="{{ url_for('main.DeleteOrder', order_id = order['orderNumber']) }}" onclick="return confirm('Удалить заявку?')">&times;</a>
				{% endif %}
			{% else %}
				<a href="{{ url_for('main.ShowOrder', order_id=order['orderNumber']) }}">#{{ order['vendorOrderNumber'] }}</a>
			{% endif %}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Дата: </span>
			{{ moment(order['createDate']).format() }}
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Инициатор: </span>
				{{ order['initiative'].location }}<br>
				<sup class="small font-italic font-weight-light">
					{{ order['initiative'].name }}<br>
					{{ order['initiative'].email }}
				</sup>
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Сумма: </span>
			<span class="orderTotal">{{ '{:,.2f}'.format(order['total']) }}</span>
		</div>
		<div class="col-sm overflow-hidden">
			<span class="d-sm-none font-weight-bold">Статус: </span>
			<span class="badge badge-{{order['status'].color() }}">{{ order['status'] }}</span>
			{% if order['externalFulfillment'] %}
				<span class="badge badge-info"><img class="octicon" src="https://approvals.pushkind.com/static/octicons/mail.svg" alt="Отправлена"></span>
			{% endif%}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<span class="font-weight-bold">Комментарий: </span>
			{{ order['orderComments'] }}
		</div>
	</div>
</div>