<div class="row mb-2 border-bottom">
	<div class="col-sm overflow-hidden">
		<span class="d-sm-none font-weight-bold">Название:</span>
		{{ product['name'] }}
	</div>
	<div class="col-sm overflow-hidden">
		<span class="d-sm-none font-weight-bold">Артикул:</span>
		{{ product['sku'] }}
	</div>
	<div class="col-sm overflow-hidden">
		<span class="d-sm-none font-weight-bold">Цена:</span>
		{{ product['price'] }}
	</div>
	<div class="col-sm overflow-hidden">
		<span class="d-sm-none font-weight-bold">Количество:</span>
		{{ product['quantity'] }}
	</div>
	<div class="col-sm mb-2 overflow-hidden">
		{% if product['imageUrl'] != None %}
			<img src="{{ product['imageUrl'] }}" height="64" width="64" alt="thumbnail">
		{% endif %}
	</div>
	{% if current_user.role.name != 'initiative' %}
		<div class="col-sm overflow-hidden">
			<form action="{{ url_for('main.SaveApproval', order_id = order['orderNumber']) }}" method="POST">
				{{ approval_form.csrf_token }}
				{{ approval_form.product_id(class_ = 'd-none', hidden = '', value = product['productId']) }}
				{{ approval_form.product_sku(class_ = 'd-none', hidden = '', value = product['sku']) }}
				<span class="d-sm-none font-weight-bold">Отклонить:</span>
				{% if product['approval'] %}
					<button type="submit" class="btn btn-secondary">
						<img class="octicon" src="/static/octicons/x.svg" alt="Отклонить">
					</button>
				{% else %}
					<button type="submit" class="btn btn-danger">
						<img class="octicon" src="/static/octicons/x.svg" alt="Отклонить">
					</button>
				{% endif %}
			</form>
		</div>
	{% endif %}
</div>