{% extends "base.html" %}

{% set glob={} %}

{% block styles %}
	<style>
		.disapprovedIcon {
			width:32px;
			height:32px;
		}
		.bg-yellow{
			background-color: rgb(255,255,206);
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container bg-white border rounded">
		<div class="row">
			<div class="col">
			
				<div class="row my-2">
					<div class="col">
						<span class="fw-bold">ЗАЯВКА
							#{{ order.id }}
						</span>
						от {{ moment(order.create_date).format('DD.MM.YYYY') }}
						{% include '_order.status.html' %}
					</div>
				</div>
			
				<div class="row">
					<div class="col">
						{% if current_user.role.name in ['admin', 'initiative', 'validator', 'purchaser'] %}
							{% if order.site %}
								<span class="fw-bold">Проект:</span>
								<a href="#initiativeSettingsModal" data-bs-toggle="modal">{{ order.site.project.name }}</a><br>
								<span class="fw-bold">Объект:</span>
								<a href="#initiativeSettingsModal" data-bs-toggle="modal">{{ order.site.name }}</a>
							{%else%}
								<span class="fw-bold">Проект:</span>
								<a href="#initiativeSettingsModal" data-bs-toggle="modal">указать</a><br>
								<span class="fw-bold">Объект:</span>
								<a href="#initiativeSettingsModal" data-bs-toggle="modal">указать</a>
							{%endif%}
						{% else %}
								<span class="fw-bold">Проект:</span>
								{{ order.site.project.name or 'не указан' }}<br>
								<span class="fw-bold">Объект:</span>
								{{ order.site.project.name or 'не указан' }}
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{% if current_user.role.name in ['admin', 'initiative', 'validator', 'purchaser'] %}
							<span class="fw-bold">Статья БДР:</span>
							<a href="#approverSettingsModal" data-bs-toggle="modal">
								{{ order.income_statement or 'указать' }}
							</a>
							<br>
							<span class="fw-bold">Статья БДДС:</span>
							<a href="#approverSettingsModal" data-bs-toggle="modal">
								{{ order.cash_flow_statement or 'указать' }}
							</a>
						{% else %}
								<span class="fw-bold">Статья БДР:</span>
								{{ order.income_statement or 'не указана' }}<br>
								<span class="fw-bold">Статья БДДС:</span>
								{{ order.cash_flow_statement or 'не указана' }}
						{% endif %}
					</div>
				</div>			
				<div class="row">
					<div class="col">
						<span class="fw-bold">Инициатор:</span>
						{% set user = order.initiative %}
						{% include '_user.popover.html' %}
					</div>
				</div>
			</div>
			<div class="col-auto bg-light m-2 border rounded">
				<span class="fw-bold">Действия с заявкой</span>
				<ul class="nav flex-column">
					<li class="nav-item">
						{% if current_user.role.name in ['admin', 'initiative', 'validator', 'purchaser'] %}
							<a href="#" data-bs-toggle="modal" data-bs-target="#leaveCommentModal">комментировать</a>
						{% else %}
							<span class="text-secondary">комментировать</span>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if current_user.role.name in ['admin', 'initiative', 'purchaser'] %}
							<a href="{{ url_for('main.DuplicateOrder', order_id = order.id) }}" onclick="return confirm('Клонировать заявку?')">клонировать</a>
						{% else %}
							<span class="text-secondary">клонировать</span>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if current_user.role.name in ['admin', 'initiative', 'purchaser'] %}
							<a href="{{ url_for('main.NotifyApprovers', order_id = order.id) }}" onclick="return confirm('Отправить уведомление согласующим?')">уведомить</a>
						{% else %}
							<span class="text-secondary">уведомить</span>
						{% endif %}
					</li>
					<li class="nav-item">
						<a href="#" data-bs-toggle="modal" data-bs-target="#excelModal">выгрузить в Excel</a>
					</li>
					<li class="nav-item">
						{% if current_user.role.name in ['admin', 'purchaser'] %}
							<a href="#" data-bs-toggle="modal" data-bs-target="#export1CModal">отправить в 1С</a>
						{% else %}
							<span class="text-secondary">отправить в 1С</span>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if current_user.role.name in ['admin', 'purchaser'] %}
							<a href="{{ url_for('main.ProcessHubOrder', order_id = order.id) }}" {% if order['externalFulfillment'] %}onclick="return confirm('Уже отправлена, отправить ещё раз?')"{% endif %}>отправить поставщику</a>
						{% else %}
							<span class="text-secondary">отправить поставщику</span>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span class="fw-bold">Комментарии: </span>
				<ul>
				{% for event in order.events|reverse %}
					{% if event.type.name == 'comment'%}
						<li>
							<span class="bg-yellow">
							{% set user = event.user %}
							{{ moment(event.timestamp).format('DD.MM.YYYY') }} {% include '_user.popover.html' %}: {{ event.data|safe }}
							</span>
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span class="fw-bold">Согласующие:</span><br>
				<ul>
				{% for appr in order.approvals %}
					{% if appr.approved is sameas true %}
						<li class="text-success">
							{{ moment(appr.timestamp).format('DD.MM.YYYY') }}
							<span class="badge border border-success text-dark">согласен</span>
							{{ appr.position.name }}
							{% set user = appr.user %}
							( {% include '_user.popover.html' %} )
						</li>
					{% else %}
						{% if appr.user is sameas none %}
							<li>
								{{ moment(order.create_date).format('DD.MM.YYYY') }}
								<span class="badge border text-dark">новая&nbsp;заявка</span>
								{{ appr.position.name }}
								({%for user in appr.position.users%}
								{% include '_user.popover.html' %}
								{%endfor%})
							</li>
						{% else %}
							<li class="text-danger">
								{{ moment(appr.timestamp).format('DD.MM.YYYY') }}
								<span class="badge border border-danger text-dark">не&nbsp;согласен</span>
								{{ appr.position.name }}
								{% set user = appr.user %}
								( {% include '_user.popover.html' %} )
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			{% if current_user.role.name in ['validator', 'purchaser'] %}
				<div class="col text-end">
					<button type="button" class="btn btn-primary approveButton" data-approved="false" data-bs-target="order">Согласен с заявкой</button>
					<button type="button" class="btn btn-outline-primary approveButton my-2" data-approved="true" data-bs-target="order">Не согласен с заявкой</button>
				</div>
			{% endif %}
		</div>
		{% for product in order.products %}
			{% include '_product.html' %}
		{% endfor %}
		<div class="row">
			<div class="col">
				Итого: {{ order.products|length }} позиции
				на сумму {{ '{:,.2f}'.format(order.total) }}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row my-2">
			<div class="col">
				<span class="fw-bold">ИСТОРИЯ</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input class="form-control" id="actionsFilter" type="text" placeholder="Фильтр..">
			</div>
		</div>
		<div id="actionsSection">
			{% for event in order.events|reverse %}	
				<div class="action" data-datetime="{{ event.timestamp.timestamp() }}">
					<div class="row">
						<div class="col">
							{% set user = event.user %}
							{% include '_user.popover.html' %}
							{{ moment(event.timestamp).format() }}
						</div>
					</div>
					<div class="row">
						<div class="col px-5 overflow-hidden text-{{event.type.color()}}">
							&boxur; <span class="fw-bold">{{event.type}}</span>: {{ event.data|safe }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	
	{% if current_user.role.name in ['admin', 'initiative', 'validator', 'purchaser'] %}
	
		<div class="modal fade" id="initiativeSettingsModal" tabindex="-1"  aria-labelledby="initiativeSettingsModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="initiativeSettingsModalLabel">ПАРАМЕТРЫ ЗАЯВКИ</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form method="post" action="{{ url_for('main.SaveParameters', order_id = order.id) }}">
						<div class="modal-body">
							{{ initiative_form.csrf_token(id=False) }}
							<div class="mb-3">
								{{ initiative_form.project.label(class_ = 'form-label') }}
								{{ initiative_form.project(class_ = 'form-control') }}
							</div>
							<div class="mb-3">
								{{ initiative_form.site.label(class_ = 'form-label') }}
								{{ initiative_form.site(class_ = 'form-control') }}
							</div>
							<div class="mb-3">
								{{ initiative_form.categories.label(class_ = 'form-label') }}
								{{ initiative_form.categories(class_ = 'form-control') }}
							</div>
						</div>
						<div class="modal-footer">
							{{ initiative_form.submit(class_ = 'btn btn-primary', id=False) }}
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	
	{% endif %}
	
	{% if current_user.role.name in ['admin', 'initiative', 'validator', 'purchaser'] %}
	
		<div class="modal fade" id="approverSettingsModal" tabindex="-1"  aria-labelledby="approverSettingsModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="approverSettingsModalLabel">ПАРАМЕТРЫ ЗАЯВКИ</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form method="post" action="{{ url_for('main.SaveStatements', order_id = order.id) }}">
						<div class="modal-body">
							{{ approver_form.csrf_token(id=False) }}
							<div class="mb-3">
								{{ approver_form.income_statement.label(class_ = 'form-label') }}
								{{ approver_form.income_statement(class_ = 'form-control') }}
							</div>
							<div class="mb-3">
								{{ approver_form.cash_flow_statement.label(class_ = 'form-label') }}
								{{ approver_form.cash_flow_statement(class_ = 'form-control') }}
							</div>
						</div>
						<div class="modal-footer">
							{{ approver_form.submit(class_ = 'btn btn-primary', id=False) }}
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	
	{% endif %}
	
	{% if current_user.role.name in ['admin', 'initiative', 'validator', 'purchaser'] %}
	
		<div class="modal fade" id="leaveCommentModal" tabindex="-1"  aria-labelledby="leaveCommentModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="leaveCommentModalLabel">ОСТАВИТЬ КОММЕНТАРИЙ</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form method="post" action="{{ url_for('main.LeaveComment', order_id = order.id) }}">
						<div class="modal-body">
							{{ comment_form.csrf_token(id=False) }}
							<div class="mb-3">
								{{ comment_form.comment.label(class_ = 'form-label') }}
								{{ comment_form.comment(class_ = 'form-control') }}
							</div>
						</div>
						<div class="modal-footer">
							{{ comment_form.submit(class_ = 'btn btn-primary', id=False) }}
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	
	{% endif %}
	
	{% if current_user.role.name in ['admin', 'validator', 'purchaser'] %}
	
		<div class="modal fade" id="export1CModal" tabindex="-1"  aria-labelledby="export1CModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="export1CModalLabel">ВЫГРУЗИТЬ В 1С</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form method="POST" action="{{ url_for('main.GetExcelReport1C', order_id = order.id) }}">
						<div class="modal-body">
							{{ export1C_form.csrf_token(id=False) }}
							<div class="mb-3">
								{{ export1C_form.date.label(class_ = 'form-label') }}
								{{ export1C_form.date(class_ = 'form-control') }}
							</div>
							<div class="form-check">
								{{ export1C_form.send_email(class_ = 'form-check-input') }}
								{{ export1C_form.send_email.label(class_='form-check-label') }}
							</div>
							<div class="form-text text-danger">
								{%if order.site is sameas none %}
									<span>Объект не указан.</span>
								{%endif%}
								{%if order.income_statement is sameas none %}
									<span>Статья БДР не указана.</span>
								{%endif%}
								{%if order.cash_flow_statement is sameas none %}
									<span>Статья БДДС не указана.</span>
								{%endif%}
								{%if 'no_measurements' in glob %}
									<span>Единицы измерения не указаны.</span>
								{%endif%}
							</div>
							<div class="form-text text-info d-none" id="exportNotification">
								Файл сохранён в папку загрузки и отправлен, если это было указано.
							</div>
						</div>
						<div class="modal-footer">
							{{ export1C_form.submit(class_ = 'btn btn-primary', id="exportSubmit") }}
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	
	{% endif %}
	
	{% if current_user.role.name in ['validator', 'purchaser'] %}
	
		<div class="modal fade" id="approveModal" tabindex="-1"  aria-labelledby="approveModalLabel" aria-hidden="true">
			<div class="modal-dialog" >
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="approveModalLabel">СОГЛАСОВАНИЕ</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form method="post" action="{{ url_for('main.SaveApproval', order_id = order.id) }}">
						<div class="modal-body">
							<p id="approvalHint">
							</p>
							{{ approval_form.csrf_token(id=False) }}
							{{ approval_form.product_id }}
							<div class="form-group">
								{{ approval_form.comment.label(class_ = 'col-form-label', id=False) }}
								{{ approval_form.comment(class_ = 'form-control', id=False) }}
								<small class="form-text text-muted">Прокомментируйте свои действия.</small>
							</div>
						</div>
						<div class="modal-footer">
							{{ approval_form.submit(class_ = 'btn btn-primary', id=False) }}
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>	
	
	{% endif %}
	
	<div class="modal fade" id="excelModal" tabindex="-1"  aria-labelledby="excelModalLabel" aria-hidden="true">
		<div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="approveModalLabel">ВЫГРУЗИТЬ В EXCEL</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<select class="form-control" id="getExcelReportSelect">
							<option selected disabled value="0">Выбор формата...</option>
							<option value="2">простая таблица</option>
							<option value="1">инвест заявка</option>
						</select>
						<div class="form-text text-info d-none" id="excelNotification">
							Файл сохранён в папку загрузки.
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block scripts %}

<script>	
	$(document).ready(function(){
	
		var projects = [
			{% for project in projects %}
				{{ project|safe }},
			{% endfor %}
				];

			$("#project option[value='0']").prop( "disabled", true );
			$("#site option[value='0']").prop( "disabled", true );
			
			$("#exportSubmit").click(function(){
				setTimeout(() => $("#exportNotification").removeClass("d-none"), 1000);
			});
	
			$("#project").change(function(){
				let val = Number($(this).val());
				$(this).removeClass("border-danger");
				let sitesList = $("#site");
				sitesList.empty();
				let defaultSite = $("<option>").text("Выберите объект...");
				defaultSite.prop("disabled", true);
				defaultSite.prop("selected", true);
				defaultSite.val(0);
				sitesList.append(defaultSite);
				
				for(let i = 0; i < projects.length; i++) {
					let proj = projects[i];					
					if (proj["id"] === val){
						for (j = 0; j < proj["sites"].length; j++)
						{
							let siteOption = $("<option>").text(proj["sites"][j]["name"])
							siteOption.val(proj["sites"][j]["id"]);
							sitesList.append(siteOption);
						}
						break;
					}
				}
				
			});

		$("#getExcelReportSelect").change(function(){
			if ($(this).val() == 1)
				window.location.href = "{{ url_for('main.GetExcelReport1', order_id = order.id) }}";
			else if ($(this).val() == 2)
				window.location.href = "{{ url_for('main.GetExcelReport2', order_id = order.id) }}";
			setTimeout(() => $("#excelNotification").removeClass("d-none"), 1000);
		});
	
	
		{% if current_user.role.name == 'admin' or current_user.id == order.initiative_id %}
			$(".productQuantity").focus(function() {
				$(this).closest("form").find(":submit").removeClass("d-none");
			});
			$(".productQuantity").focusout(function() {
				setTimeout(()=>
					$(this).closest("form").find(":submit").addClass("d-none"),
					500
				);
			});
		{% endif %}
		
		{% if current_user.role.name in ['purchaser', 'validator'] %}
			$(".approveButton").click(function(){
				
				let target = $(this).data("target");
				let approved = $(this).data("approved");
				if (target == "order"){
					if (approved == true){
						$("#product_id").prop("disabled", false);
						$("#product_id").val(0);
						$("#approvalHint").text("Вы собираетесь ОТКЛОНИТЬ заявку с номером {{ order.id }}. Вы можете прокомментировать свои действия.");
						$("#approvalHint").removeClass("text-success");
						$("#approvalHint").addClass("text-danger");
						$('#approveModal').modal({});
					}
					else if (approved == false){
						$("#product_id").prop("disabled", true);
						$("#product_id").val(null);
						$("#approvalHint").text("Вы собираетесь СОГЛАСОВАТЬ заявку с номером {{ order.id }}. Вы можете прокомментировать свои действия.");
						$("#approvalHint").removeClass("text-danger");
						$("#approvalHint").addClass("text-success");
						$('#approveModal').modal({});
					}
					
				}
				else if (target == "product"){
					let value = $(this).data("id");
					let sku = $(this).data("sku");
					$("#product_id").prop("disabled", false);
					$("#product_id").val(value);
					if (approved == true){
						$("#approvalHint").text("Вы собираетесь ОТКЛОНИТЬ товар с артикулом "+ sku +". Вы можете прокомментировать свои действия.");
						$("#approvalHint").removeClass("text-success");
						$("#approvalHint").addClass("text-danger");
						$('#approveModal').modal({});
					}
					else if (approved == false){
						$("#approvalHint").text("Вы собираетесь СОГЛАСОВАТЬ товар с артикулом "+ sku +". Вы можете прокомментировать свои действия.");
						$("#approvalHint").removeClass("text-danger");
						$("#approvalHint").addClass("text-success");
						$('#approveModal').modal({});
					}
				}
				
			});
		{% endif %}
	});
</script>
{%endblock %}
