{% extends "base.html" %}

{% block content %}
	<div class="container my-1">
		<div class="row my-2 ml-2">
			<div class="col">
				{% if current_user in order['reviewers'] %}	
					<form action="{{ url_for('main.SaveApproval', order_id = order['orderNumber']) }}" method="POST">
						{{ approval_form.csrf_token }}
						<span class="font-weight-bold">ЗАЯВКА </span>
						<input type="checkbox" {% if order['reviewers'][current_user]|select|list|first  %}checked{% endif %} data-toggle="toggle" data-on="согласен" data-off="НЕ согласен" data-onstyle="success" data-offstyle="secondary" onChange="this.form.submit()" data-height="20" data-width="150">
					</form>
				{% else %}
					<span class="font-weight-bold">ЗАЯВКА </span>
				{% endif %}
			</div>
			<div class="col">
				<span class="font-weight-bold">Сумма: </span>
				<span class="orderTotal">{{ '{:,.2f}'.format(order['total']) }}</span>
			</div>
		</div>
		<div class="row ml-2">
			<div class="col">
				<div class="row">
					<div class="col">
						#{{ order['vendorOrderNumber'] }}
						{% if current_user.role.name == 'initiative' %}
							<a class="badge badge-danger" href="{{ url_for('main.DeleteOrder', order_id = order['orderNumber']) }}" onclick="return confirm('Удалить заявку?')">&times;</a>
						{% endif %}
						от {{ moment(order['createDate']).format() }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ order['initiative'].location }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ order['initiative'].name }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ order['initiative'].email }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ order['initiative'].phone }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						<span class="badge badge-{{order['status'].color() }}">{{ order['status'] }}</span>
						{% if order['externalFulfillment'] %}
							<span class="badge badge-info"><img class="octicon" src="https://approvals.pushkind.com/static/octicons/mail.svg" alt="Отправлена"></span>
						{% endif%}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ order['orderComments'] }}
					</div>	
				</div>
			</div>
			<div class="col overflow-hidden">
				<div class="row">
					<div class="col">
						<span class="font-weight-bold">СОГЛАСОВАНИЯ</span>
					</div>
				</div>
				{% for reviewer,status in order['reviewers'].items() %}
					<div class="row">
						<div class="col">
							{% if status|length == 0 %}
								<span class="badge badge-secondary">{{reviewer.name}}</span>
							{% elif status|select|list|first %}
								<span class="badge badge-success">{{reviewer.name}}</span>
							{% else %}
								<span class="badge badge-danger">{{reviewer.name}}</span>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="container my-2">
		<div class="row mx-2 my-2">
			<div class="col">
				<span class="font-weight-bold">ПОЗИЦИИ ЗАЯВКИ</span>
			</div>
		</div>
		<div class="row my-1 d-none d-sm-flex font-weight-bold">
			<div class="col-10">
				<div class="row">
					<div class="col overflow-hidden">
						&nbsp;
					</div>		
					<div class="col overflow-hidden">
						Артикул
					</div>		
					<div class="col-3 overflow-hidden">
						Название
					</div>		
					<div class="col overflow-hidden">
						Поставщик
					</div>
					<div class="col overflow-hidden">
						Единицы
					</div>
					<div class="col overflow-hidden">
						Цена
					</div>
					<div class="col overflow-hidden">
						Кол-во
					</div>
				</div>
			</div>
			<div class="col">
				&nbsp;
			</div>
		</div>
		{% for product in order['items'] %}
			{% include '_product.html' %}
		{% endfor %}
	</div>
	
	{% if current_user.role.name not in ['admin','default'] %}
		<div class="container my-1">
			<div class="row">
				<div class="col text-right">
					<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#commentFormCollapse" aria-expanded="false" aria-controls="commentFormCollapse">
						Редактировать
					</button>
				</div>
			</div>
			<div class="collapse" id="commentFormCollapse">
				{% set errorsList = comment_form.comment.errors %}
				{% if errorsList|length > 0 %}
					<div class = "row">
						<div class="col">
							<div class="alert alert-danger" role="alert">
								{% for error in  errorsList %}
									{{ error }}<br>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
				<form action="{{ url_for('main.SaveComment', order_id = order['orderNumber']) }}" method="post" id="changeCommentForm">
					{{ comment_form.csrf_token }}
					<div class="form-group row">
						{{ comment_form.comment.label(class_ = "col-md-2 col-form-label") }}
						<div class="col-md-10">
							{{ comment_form.comment(class_ = 'form-control') }}
							<small class="form-text text-muted">Максимальная длина комментария 256 символов.</small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							{{ comment_form.submit(class_ = 'btn btn-primary') }}
							{% if current_user.role.name == 'initiative' %}
								<a class="btn btn-primary" href="{{ url_for('main.DuplicateOrder', order_id = order['orderNumber']) }}" onclick="return confirm('Клонировать заявку?')">Клонировать</a>
								<a class="btn btn-primary" href="{{ url_for('main.NotifyApprovers', order_id = order['orderNumber']) }}" onclick="return confirm('Отправить уведомление согласующим?')">Уведомить</a>
							{% elif current_user.role.name == 'approver' %}
								<a class="btn btn-primary" href="{{ url_for('main.ProcessHubOrder', order_id = order['orderNumber']) }}" {% if order['externalFulfillment'] %}onclick="return confirm('Уже отправлена, отправить ещё раз?')"{% endif %}>Поставщику</a>
							{% endif %}
							<a class="btn btn-primary" href="{{ url_for('main.GetExcelReport', order_id = order['orderNumber']) }}">в Excel</a>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
	<div class="container my-1">
		<div class="row mx-2">
			<div class="col">
				<span class="font-weight-bold">ИСТОРИЯ</span>
			</div>
		</div>
		<div class="row my-1">
			<div class="col">
				<input class="form-control" id="actionsFilter" type="text" placeholder="Фильтр..">
			</div>
		</div>
		<div id="actionsSection">
			{% if order['externalFulfillment'] %}
				<div class="action my-1" data-datetime="{{ order['privateAdminNotes'].timestamp() }}">
					<div class="row">
						<div class="col">
							<span class="badge badge-info">
								{%if order['refererId'] %}
									{{ order['refererId'] }}
								{% else %}
									Отправлена поставщику
								{% endif %}
							</span>
							{{ moment(order['privateAdminNotes']).format() }}
						</div>
					</div>
					<div class="row">
						<div class="col px-5">
							&boxur; Заказ #{{ order['vendorOrderNumber'] }} отправлен (в скобках указан внутренний номер заказа в Личном Кабинете Поставщика) <strong>{{ order['externalOrderId'] }}</strong>
						</div>
					</div>
				</div>
			{% endif %}
			{% for reviewer,status in order['reviewers'].items() %}
				{% for approval in status %}
					<div class="action my-1" data-datetime="{{ approval.timestamp.timestamp() }}">
						<div class="row">
							<div class="col">
								{% if approval.product_id %}
									<span class="badge badge-danger">
								{% else %}
									<span class="badge badge-success">
								{% endif %}
									{% if reviewer.name %}
										{{ reviewer.name }}
									{% else %}
										{{ reviewer.email }}
									{% endif %}
								</span>
								{{ moment(approval.timestamp).format() }}
							</div>
						</div>
						<div class="row">
							<div class="col px-5">
								&boxur;
								{% if approval.product_id %}
									Товар <strong>{{ approval.product_sku }}</strong> отклонён.
								{% else %}
									Заявка одобрена.
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
			{% for comment in order['comments'] %}			
				<div class="action my-1" data-datetime="{{ comment.timestamp.timestamp() }}" id="comment{{comment.user_id}}">
					<div class="row">
						<div class="col commentHeader">
							<span class="badge badge-warning">
								{% if comment.user.name %}
									{{ comment.user.name }}
								{% else %}
									{{ comment.user.email }}
								{% endif %}
							</span>
							{{ moment(comment.timestamp).format() }}
						</div>
					</div>
					<div class="row">
						<div class="col commentBody px-5 overflow-hidden">
							&boxur; {{ comment.comment }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block templates %}

	<div class="action row my-1" id="commentTemplate">
		<div class="row">
			<div class="col commentHeader">
			</div>
		</div>
		<div class="row">
			<div class="col commentBody px-5 overflow-hidden">
			</div>
		</div>
	</div>
		
{% endblock %}

{% block scripts %}

<script>	
	$(document).ready(function(){
	
		$("#actionsFilter").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$(".action").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	
		$("#actionsSection").find(".action").sort(function(a, b){return +$(b).data('datetime') - +$(a).data('datetime')}).appendTo('#actionsSection');
		
		{% if current_user.role.name == 'initiative' %}
			function UpdateOrderTotal(data){
				if (data.status == true){
					if (data.quantity == 0){
						if ($(".ecwidOrderProduct").length == 1){
							alert("Заявка удалена, вы будете перенаправлены на главную страницу.");
							setTimeout(function(){
								document.location.href = "{{ url_for('main.ShowIndex') }}";
							}, 2000);
						}else
							document.location.reload();
					}
					$(".orderTotal").text(data.total);
				}
				ShowAjaxFlashes(data);
			}
			
			var oldQuantity = 0;
			$('.productQuantity').focus(function() {
				$(this).removeClass('form-control-plaintext');
				$(this).addClass ('form-control');
				oldQuantity = $(this).val();
			});
			$('.productQuantity').focusout(function() {
				if ($(this).val() != oldQuantity){
					var agreed = true;
					if ($(this).val() == 0){
						if ($(".ecwidOrderProduct").length == 1){
							agreed = window.confirm("Заявка будет удалена.");
						} else {
							agreed = window.confirm("Товар будет удален.");
						}
					}
					if (agreed == true){
						$(this).parent().submit();
					} else {
						alert("Заявка не будет изменена.");
						$(this).val(oldQuantity);
					}
				}
				$(this).removeClass ('form-control');
				$(this).addClass('form-control-plaintext');
			});
		{% endif %}
		{% if current_user.role.name not in ['default','admin'] %}
			function UpdateOrderComment(data){
				if (data.status == true){
					var authorComment = $("#comment{{ current_user.id }}");
					var actionsSection = $("#actionsSection");
					if (data.comment.length > 0){
						if (authorComment.length == 0){
							authorComment = $("#commentTemplate").clone();
							authorComment.attr("id", "comment{{ current_user.id }}");
						}
						var timestamp = new Date(data.timestamp);
						authorComment.find(".col").empty();
						var author = authorComment.find(".commentHeader");
						{% if current_user.name %}
							author.append("<span class='badge badge-warning'>{{ current_user.name }}</span> ");
						{% else %}
							author.append("<span class='badge badge-warning'>{{ current_user.email }}</span> ");
						{% endif %}
						
						author.append("<span>" + moment(timestamp).format("DD.MM.YYYY HH:mm") + "</span>");
						actionsSection.prepend(authorComment);
						var comment = authorComment.find(".commentBody");
						comment.text('└ ' + data.comment);
					}else{
						if (authorComment.length != 0)
							authorComment.remove();
					}
					$("#commentFormCollapse").collapse('hide');
				}
				ShowAjaxFlashes(data);
			}
			var options = {
				success:	UpdateOrderComment,
				url: "{{ url_for('main.SaveComment', order_id = order['orderNumber']) }}",
				dataType:	'json',
				method: 'POST',
				clearForm: false
			};
			$('#changeCommentForm').ajaxForm(options);
			$('#comment').focusout(function() {
				$(this).parent().submit();
			});
		{% endif %}
	});
</script>
{%endblock %}