{% extends "base.html" %}

{% block styles %}
<style>
/*switch on-off */
.toggle-label {
  position: relative;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}
.toggle-label input[type=checkbox] { 
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.toggle-label input[type=checkbox]+.back {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    border-radius: 50px;
    border: 1px solid #000;
    transition: background 150ms linear;
	background: #6c757d;
}
.toggle-label input[type=checkbox]:checked+.back {
    border: 1px solid #000;
    cursor: pointer;
}

.toggle-label input[type=checkbox]+.back .toggle {
  display: block;
  position: absolute;
  content: ' ';
  background: #28a745;
  width: 50%; 
  height: 100%;
  transition: margin 150ms linear,  background 150ms linear;
  border: 1px solid #808080;
  border-radius: 50px;
}
.toggle-label input[type=checkbox]:checked+.back .toggle {
  margin-left: 100px;
  background: #dc3545;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  color: #fff;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
}
.toggle-label .label.on { left: 0px; }
.toggle-label .label.off { right: 0px; }

.toggle-label input[type=checkbox]:checked+.back .label.on {
  color: #fff;
}
.toggle-label input[type=checkbox]+.back .label.off {
  color: #fff;
  cursor: pointer;
}
.toggle-label input[type=checkbox]:checked+.back .label.off {
  color: #fff;
}


</style>
{% endblock%}

{% block content %}
	<div class="container">
		{% if current_user in order['reviewers'] %}
			<form action="{{ url_for('main.SaveApproval', order_id = order['orderNumber']) }}" method="POST">
				<div class="row">
					<div class="col-3 pt-3">
						<span class="font-weight-bold">ЗАЯВКА</span>
						{{ approval_form.csrf_token }}
					</div>
					<div class="col text-right">
						<label class="toggle-label">
							<input type="checkbox" {% if not order['reviewers'][current_user]|select|list|first  %}checked{% endif %} onChange="this.form.submit()">
							<span class="back">
								<span class="toggle"></span>
								<span class="label on">согласен</span>
								<span class="label off">НЕ согласен</span>
							</span>
						</label>
					</div>
				</div>
			</form>
		{% else %}
			<div class="row my-2">
				<div class="col">
					<span class="font-weight-bold">ЗАЯВКА</span>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<span class="font-weight-bold">Кем согласована: </span>
						{% for reviewer,status in order['reviewers'].items() %}
							{% if status|length > 0 %}
								{% if status|select|list|first %}
									<span class="font-italic">{{reviewer.name}} {% if reviewer.position %}({{reviewer.position}}){% endif %}</span>,
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						<span class="font-weight-bold">Ждём согласования: </span>
						{% for position,status in order['positions'].items() %}
							{% if not status %}
								<span class="font-italic">"{{ position }}"</span>,
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						<span class="font-weight-bold">Номер: </span>
						#{{ order['vendorOrderNumber'] }}
						{% if current_user.role.name == 'initiative' %}
							<a class="badge badge-danger" href="{{ url_for('main.DeleteOrder', order_id = order['orderNumber']) }}" onclick="return confirm('Удалить заявку?')">&times;</a>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						<span class="font-weight-bold">Дата: </span>
						{{ moment(order['createDate']).format() }}
					</div>
				</div>
				<div class="row">
					<div class="col">
					{% if current_user.role.name == 'initiative' %}
					<form action="{{ url_for('main.SaveLocation', order_id = order['orderNumber']) }}" id="locationForm" method="POST">
						<span class="font-weight-bold">Площадка: </span>
						{{location_form.csrf_token}}
						{{location_form.location_name() }}
					</form>
					{% else %}
						<span class="font-weight-bold">Площадка: </span>
						{{ order['refererId'] }}
					{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col">
						<span class="font-weight-bold">Инициатор: </span>
						{{ order['initiative'].name }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ order['initiative'].email }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ order['initiative'].phone }}
					</div>
				</div>
				<div class="row">
					<div class="col">
					<span class="font-weight-bold">Комментарий: </span>
						{{ order['orderComments'] }}
					</div>	
				</div>
				<div class="row">
					<div class="col">
						<span class="font-weight-bold">Всего позиций: </span>{{ order['items']|length }} на сумму
						<span class="orderTotal">{{ '{:,.2f}'.format(order['total']) }}</span>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<div class="row d-none d-sm-flex font-weight-bold">
			<div class="col overflow-hidden">
				&nbsp;
			</div>		
			<div class="col overflow-hidden">
				Артикул
			</div>		
			<div class="col-3 overflow-hidden">
				Название
			</div>		
			<div class="col overflow-hidden">
				Поставщик
			</div>
			<div class="col overflow-hidden">
				Цена
			</div>
			<div class="col overflow-hidden">
				Кол-во
			</div>
		</div>
		{% for product in order['items'] %}
			{% include '_product.html' %}
		{% endfor %}
	</div>
	
	{% if current_user.role.name not in ['admin','default'] %}
		<div class="container">
			<ul class="nav justify-content-center">
				{% if current_user.role.name == 'initiative' %}
				<li class="nav-item">
					<a class="nav-link pl-0" href="{{ url_for('main.DuplicateOrder', order_id = order['orderNumber']) }}" onclick="return confirm('Клонировать заявку?')">Клонировать</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('main.NotifyApprovers', order_id = order['orderNumber']) }}" onclick="return confirm('Отправить уведомление согласующим?')">Уведомить</a>
				</li>
				{% elif current_user.role.name == 'approver' %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('main.ProcessHubOrder', order_id = order['orderNumber']) }}" {% if order['externalFulfillment'] %}onclick="return confirm('Уже отправлена, отправить ещё раз?')"{% endif %}>Поставщику</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('main.GetExcelReport', order_id = order['orderNumber']) }}">в Excel</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href data-toggle="collapse" data-target="#commentFormCollapse" aria-expanded="false" aria-controls="commentFormCollapse">Комментировать</a>
				</li>						
			</ul>
			<div class="collapse" id="commentFormCollapse">
				{% set errorsList = comment_form.comment.errors %}
				{% if errorsList|length > 0 %}
					<div class = "row">
						<div class="col">
							<div class="alert alert-danger" role="alert">
								{% for error in  errorsList %}
									{{ error }}<br>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
				<form action="{{ url_for('main.SaveComment', order_id = order['orderNumber']) }}" method="post">
					{{ comment_form.csrf_token }}
					<div class="form-group row">
						{{ comment_form.comment.label(class_ = "col-md-2 col-form-label") }}
						<div class="col-md-10">
							{{ comment_form.comment(class_ = 'form-control') }}
							<small class="form-text text-muted">Максимальная длина комментария 256 символов.</small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							{{ comment_form.submit1(class_ = 'btn btn-primary') }}							
						</div>
					</div>
				</form>
			</div>
		</div>
	{% endif %}
	<div class="container">
		<div class="row my-2">
			<div class="col">
				<span class="font-weight-bold">ИСТОРИЯ</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input class="form-control" id="actionsFilter" type="text" placeholder="Фильтр..">
			</div>
		</div>
		<div id="actionsSection">
			{% for event in order['events'] %}	
				<div class="action" data-datetime="{{ event.timestamp.timestamp() }}">
					<div class="row">
						<div class="col">
							<span class="badge badge-{{event.type.color()}}">
								{{ event.user.name }} ({{event.user.position}})
							</span>
							{{ moment(event.timestamp).format() }}
						</div>
					</div>
					<div class="row">
						<div class="col px-5 overflow-hidden">
							&boxur; <span class="font-weight-bold">{{event.type}}</span>: {{ event.data|safe }}
						</div>
					</div>
				</div>
			{% endfor %}
			
		</div>
	</div>
{% endblock %}

{% block scripts %}

<script>	
	$(document).ready(function(){
	
		$("#actionsSection").find(".action").sort(function(a, b){return +$(b).data("datetime") - +$(a).data("datetime")}).appendTo("#actionsSection");
	
		$("#actionsFilter").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$(".action").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
		
		$(".product-sku").click(
		   function(){ var val= '#'+$(this).text(); $(val).addClass("alert-warning") },
		);
		
		{% if current_user.role.name == 'initiative' %}
			var oldQuantity = 0;
			$('.productQuantity').focus(function() {
				$(this).removeClass('form-control-plaintext');
				$(this).addClass ('form-control');
				oldQuantity = $(this).val();
			});
			$('.productQuantity').focusout(function() {
				if ($(this).val() != oldQuantity){
					var agreed = true;
					if ($(this).val() == 0){
						if ($(".ecwidOrderProduct").length == 1){
							agreed = window.confirm("Заявка будет удалена.");
						} else {
							agreed = window.confirm("Товар будет удален.");
						}
					}
					if (agreed == true){
						$(this).closest("form").submit();
					} else {
						alert("Заявка не будет изменена.");
						$(this).val(oldQuantity);
					}
				}
				$(this).removeClass ('form-control');
				$(this).addClass('form-control-plaintext');
			});
			$('#location_name').change(function(){
				$(this).closest("form").submit();
			});
		{% endif %}
	});
</script>
{%endblock %}