<!doctype html>
<html lang="ru">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ config['APPLICATION_TITLE'] }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pushkind.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		{% block styles %}{% endblock %}
		<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
		{{ moment.include_moment(sri=False) }}
		{{ moment.locale("ru") }}
	</head>
	<body class="bg-light">
		<div id="flashMessages">
			{% with messages = get_flashed_messages() %}
				{% for message in messages %}
					<div class="alert alert-primary alert-dismissible" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endwith %}
		</div>
		<header id="header" class="header">
			<div class = "container">
				{% if not current_user.is_anonymous %}

					<nav class="navbar navbar-expand-md navbar-light">
						<div class="container-fluid">
							<a class="navbar-brand" href="{{ url_for('main.ShowIndex') }}">
								<img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
							</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								{% include 'navigation.html' %}
								<span class="navbar-text">
									<a href="#" data-bs-toggle="popover" title="{{current_user.name}}" data-bs-html="true" data-bs-content="{{current_user.role}}<br>{{current_user.email}}<br><a href='{{url_for('auth.PerformLogout')}}'>выйти</a>">
										<img class="person rounded-circle" src="{{ url_for('static', filename='person.png') }}" alt="Person">
									</a>
								</span>
							</div>
						</div>
					</nav>

				{% else %}
					<div class="row">
						<div class="col text-center overflow-hidden">
							<h3>
								<!--<a href="/index"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo"></a>-->
								{{ config['APPLICATION_TITLE'] }}
							</h3>						
						</div>
					</div>
				{% endif %}
			</div>
		</header>
		
		{% block content %}{% endblock %}
		
		<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
		<script>
			function ShowAjaxFlashes(data){
				let ajaxAlert = $("<div>");
				if (data.status == true)
				{
					ajaxAlert.addClass("alert alert-dismissible alert-primary");
				}
				else
				{
					ajaxAlert.addClass("alert alert-dismissible alert-warning");
				}
				data.flash.forEach(function(element) {
					ajaxAlert.append(element + "<br>");
				});
				ajaxAlert.append('<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>');
				$('#flashMessages').append(ajaxAlert);
			}
			$(document).ready(function(){
				var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
				var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
					return new bootstrap.Popover(popoverTriggerEl)
				});
				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
					return new bootstrap.Tooltip(tooltipTriggerEl)
				})
				var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
					trigger: 'focus'
				})
			});
		</script>
		{% block scripts %}{% endblock %}
		<div class="d-none" id="templates">
			{% block templates %}{% endblock %}
		</div>
	</body>
</html>