{% extends "base.html" %}

{% block styles %}
	<style>
		.ecwidOrder{
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block content %}
<div class="container border bg-light my-1">
	<div class="row border-bottom">
		<div class="col">
		{% if filter_approval == 'new' %}
			<span class="badge badge-secondary font-weight-bold">НОВЫЕ</span>
		{% else %}
			<a href="{{ url_for('main.ShowIndex', from = filter_from, approval = 'new', location = filter_location) }}" class="badge badge-secondary">новые</a>
		{% endif %}
		{% if filter_approval == 'partly_approved' %}
			<span class="badge badge-warning font-weight-bold">В РАБОТЕ</span>
		{% else %}
			<a href="{{ url_for('main.ShowIndex', from = filter_from, approval = 'partly_approved', location = filter_location) }}" class="badge badge-warning">в работе</a>
		{% endif %}
		{% if filter_approval == 'approved' %}
			<span class="badge badge-success font-weight-bold">СОГЛАСОВАННЫЕ</span>
		{% else %}
			<a href="{{ url_for('main.ShowIndex', from = filter_from, approval = 'approved', location = filter_location) }}" class="badge badge-success">согласованные</a>
		{% endif %}
		{% if filter_approval == 'not_approved' %}
			<span class="badge badge-danger font-weight-bold">НЕ СОГЛАСОВАННЫЕ</span>
		{% else %}
			<a href="{{ url_for('main.ShowIndex', from = filter_from, approval = 'not_approved', location = filter_location) }}" class="badge badge-danger">не согласованные</a>
		{% endif %}
		{% if filter_approval == None %}
			<span class="badge badge-dark text-white font-weight-bold">ВСЕ</span>
		{% else %}
			<a href="{{ url_for('main.ShowIndex', from = filter_from, location = filter_location) }}" class="badge badge-dark text-white">все</a>
		{% endif %}
		</div>
	</div>
	<div class="row border-bottom">
		<div class="col">
			{% if filter_from == dates[0] %}
				<span class="badge badge-dark text-white font-weight-bold">СЕГОДНЯ</span>
			{% else %}
				<a href="{{ url_for('main.ShowIndex', from = dates[0], approval = filter_approval, location = filter_location) }}" class="badge badge-dark text-white">сегодня</a>
			{% endif %}
			{% if filter_from == dates[1] %}
				<span class="badge badge-dark text-white font-weight-bold">НЕДЕЛЯ</span>
			{% else %}
				<a href="{{ url_for('main.ShowIndex', from = dates[1], approval = filter_approval, location = filter_location) }}" class="badge badge-dark text-white">неделя</a>
			{% endif %}
			{% if filter_from == dates[2] %}
				<span class="badge badge-dark text-white font-weight-bold">МЕСЯЦ</span>
			{% else %}
				<a href="{{ url_for('main.ShowIndex', from = dates[2], approval = filter_approval, location = filter_location) }}" class="badge badge-dark text-white">месяц</a>
			{% endif %}
			{% if filter_from == None %}
				<span class="badge badge-dark text-white font-weight-bold">ВСЕ</span>
			{% else %}
				<a href="{{ url_for('main.ShowIndex', approval = filter_approval, location = filter_location) }}" class="badge badge-dark text-white">все</a>
			{% endif %}
		</div>
	</div>
	{% if current_user.role.name != 'initiative' %}
		<div class="row">
			<div class="col">
				{% for location in locations %}
					<a href="{{ url_for('main.ShowIndex', approval = filter_approval, from = filter_from, location = location[0]) }}" class="badge badge-dark text-white">
						{{ location[0] }}
					</a>
				{% endfor %}
					<a href="{{ url_for('main.ShowIndex', approval = filter_approval, from = filter_from) }}" class="badge badge-dark text-white">
						все
					</a>
			</div>
		</div>
	{% endif %}
</div>
<div class="container border bg-light my-1">
	<h6 class="text-secondary">Заявки</h6>
	<div class="row my-1">
		<div class="col">
			<input class="form-control" id="orderFilter" type="text" placeholder="Фильтр..">
		</div>
	</div>
	<div class="row my-1 d-none d-sm-flex font-weight-bold">
		<div class="col overflow-hidden">
			Номер
		</div>
		<div class="col overflow-hidden">
			Дата
		</div>
		<div class="col overflow-hidden">
			Инициатор
		</div>
		<div class="col overflow-hidden">
			Сумма
		</div>
		<div class="col overflow-hidden">
			Статус
		</div>
	</div>
	{% for order in orders %}
		{% include '_order.html' %}
	{% endfor %}
</div>
{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function(){
	
		$("#orderFilter").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$(".ecwidOrder").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
		
		$(".ecwidOrder").click(function(event){
			var orderId = Number($(this).attr('id').replace('order', ''));
			if (!isNaN(orderId))
				document.location.href = '/order/' + orderId;
		});
	});
</script>
{%endblock %}