{% extends "base.html" %}

{% block content %}
{% if orders %}
	<div class="container border bg-light my-1">
		<h6 class="text-secondary text-right">Заявки</h6>
		<div class="row">
			<div class="col">
				<a href="" class="badge badge-primary">новые</a>
				<a href="" class="badge badge-primary">не согласованные</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a href="{{ url_for('main.ShowIndex', createdFrom = dates[0]) }}" class="badge badge-primary">сегодня</a>
				<a href="{{ url_for('main.ShowIndex', createdFrom = dates[1]) }}" class="badge badge-primary">неделя</a>
				<a href="{{ url_for('main.ShowIndex', createdFrom = dates[2]) }}" class="badge badge-primary">месяц</a>
				<a href="{{ url_for('main.ShowIndex') }}" class="badge badge-primary">все</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a href="" class="badge badge-primary">ГПЗ</a>
				<a href="" class="badge badge-primary">Тест</a>
			</div>
		</div>
	</div>
	<div class="container border bg-light my-1">
		<div class="row my-1 d-none d-sm-flex font-weight-bold">
			<div class="col">
				Номер
			</div>
			<div class="col">
				Дата
			</div>
			<div class="col">
				Инициатор
			</div>
			<div class="col">
				Согласование
			</div>
		</div>
		{% for order in orders %}
			{% include '_order.html' %}
		{% endfor %}
	</div>
{% endif %}
{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function(){
		//Scripts
	});
</script>
{%endblock %}