<nav class="navbar navbar-expand-md navbar-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item {% if request.endpoint == 'main.ShowIndex' %} active {% endif %}">
				<a class="nav-link" href="{{ url_for('main.ShowIndex') }}">Главная</a>
			</li>										
			<li class="nav-item {% if request.endpoint == 'main.ShowStores' %} active {% endif %}">
				<a class="nav-link" href="{{ url_for('main.ShowStores') }}">Поставщики</a>
			</li>
			<li class="nav-item {% if request.endpoint == 'main.ShowSettings' %} active {% endif %}">
				<a class="nav-link" href="{{ url_for('main.ShowSettings') }}">Настройки</a>
			</li>
			{% if current_user.role.name in ["initiative", "admin"] %}
				<li class="nav-item {% if request.endpoint == 'main.ShowEcwid' %} active {% endif %}">
					<a class="nav-link" href="{{ url_for('main.ShowEcwid') }}">Заказать</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>