<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item">
		<a class="nav-link {% if request.endpoint == 'main.ShowIndex' %} active {% endif %}" href="{{ url_for('main.ShowIndex') }}">Главная</a>
	</li>
	{% if current_user.role.name in ['admin', 'initiative', 'purchaser'] %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint in ('main.ShopCategories', 'main.ShopVendors', 'main.ShopProducts', 'main.ShopCart') %} active {% endif %}" href="{{ url_for('main.ShopCategories') }}">Заказать</a>
		</li>
	{% endif %}
	{% if current_user.role.name not in ['default', 'vendor'] %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == 'main.ShowLimits' %} active {% endif %}" href="{{ url_for('main.ShowLimits') }}">Лимиты</a>
		</li>
	{% endif %}
	{% if current_user.role.name in ['admin', 'purchaser'] %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == 'main.ShowStores' %} active {% endif %}" href="{{ url_for('main.ShowStores') }}">Поставщики</a>
		</li>
	{% endif %}
	{% if current_user.role.name in ['admin', 'vendor'] %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == 'main.ShowProducts' %} active {% endif %}" href="{{ url_for('main.ShowProducts') }}">Товары</a>
		</li>
	{% endif %}
	{% if current_user.role.name not in ['vendor'] %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == 'main.ShowSettings' %} active {% endif %}" href="{{ url_for('main.ShowSettings') }}">Настройки</a>
		</li>
	{% endif %}
	{% if current_user.role.name in ['admin'] %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == 'main.ShowAdminPage' %} active {% endif %}" href="{{ url_for('main.ShowAdminPage') }}">Администрирование</a>
		</li>
	{% endif %}
	{% if current_user.role.name not in ['default', 'vendor'] %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == 'main.ShowHelp' %} active {% endif %}" href="{{ url_for('main.ShowHelp') }}">Справка</a>
		</li>
	{% endif %}
	{% if current_user.role.name not in ['default', 'vendor'] %}
		<li class="nav-item">
			<a class="nav-link {% if request.endpoint == 'main.ShowHistory' %} active {% endif %}" href="{{ url_for('main.ShowHistory') }}">История</a>
		</li>
	{% endif %}
	{% if current_user.role.name in ['admin', 'supervisor'] %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Хабы</a>
			<ul class="dropdown-menu">
				{% for hub in current_user.hub_list %}
					<li><a class="dropdown-item" href="{{url_for('main.SwitchHub', hub_id=hub.id)}}">{{ hub.name }}</a></li>
				{% endfor %}
			</ul>
		</li>
	{% endif %}
</ul>