{% extends "base.html" %}

{% block content %}
{% if current_user.role.name == "admin" %}
	<div class="container border-bottom">
		<div class="row">
			<div class="col text-right">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ecwidFormCollapse" aria-expanded="false" aria-controls="ecwidFormCollapse">
					Настроить API
				</button>
			</div>
		</div>
		<div class="collapse" id="ecwidFormCollapse">
			{% set errorsList = ecwid_form.partners_key.errors + ecwid_form.client_id.errors + ecwid_form.client_secret.errors + ecwid_form.store_id.errors %}
			{% if errorsList|length > 0 %}
				<div class = "row">
					<div class="col">
						<div class="alert alert-danger" role="alert">
							{% for error in  errorsList %}
								{{ error }}<br>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
			<form method="post" class="my-2 border-bottom">
				{{ ecwid_form.csrf_token }}
				<div class="form-group row">
					{{ ecwid_form.partners_key.label(class_ = "col-md-2 col-form-label") }}
					<div class="col-md-10">
						{{ ecwid_form.partners_key(class_ = 'form-control', autofocus = '', value = current_user.hub.partners_key if current_user.hub.partners_key is not none else '') }}
					</div>
				</div>
				<div class="form-group row">
					{{ ecwid_form.client_id.label(class_ = "col-md-2 col-form-label") }} 
					<div class="col-md-10">
						{{ ecwid_form.client_id(class_ = 'form-control', value = current_user.hub.client_id if current_user.hub.client_id is not none else '') }}
					</div>
				</div>
				<div class="form-group row">
					{{ ecwid_form.client_secret.label(class_ = "col-md-2 col-form-label") }} 
					<div class="col-md-10">
						{{ ecwid_form.client_secret(class_ = 'form-control', value = current_user.hub.client_secret if current_user.hub.client_secret is not none else '') }}
					</div>
				</div>
				<div class="form-group row">
					{{ ecwid_form.store_id.label(class_ = "col-md-2 col-form-label") }} 
					<div class="col-md-10">
						{{  ecwid_form.store_id(class_ = 'form-control', value = current_user.hub.store_id if current_user.hub.store_id is not none else '') }}
					</div>
				</div>
				<div class="form-group row">
					<div class="col">
						{{ ecwid_form.submit1(class_ = 'btn btn-primary') }}
					</div>
				</div>
			</form>
			<form method="POST" action="{{ url_for('main.Notify1CSettings') }}" class="my-2">
					<div class = "row my-2">
						<div class="col">	
							<span class="font-weight-bold">НАСТРОЙКИ 1С РАССЫЛКИ</span>
						</div>
					</div>
					<div class="form-row align-items-center">
						<div class="col-md-6">
							{{ notify1C_form.csrf_token }}
							{{ notify1C_form.email(class_ = 'form-control', placeholder = 'Электронная почта') }}
						</div>
						<div class="col-md">
							<div class="form-check">
								{{ notify1C_form.enable(class_ = 'form-check-input') }}
								{{ notify1C_form.enable.label(class_ = 'form-check-label') }}
							</div>
						</div>
					</div>
					<div class="form-group row my-1">
						<div class="col">
							{{ notify1C_form.submit(class_ = 'btn btn-primary') }}
						</div>
					</div>
			</form>
		</div>
	</div>
	<div class="container border-bottom">
		<div class="row">
			<div class="col text-right">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#locationFormCollapse" aria-expanded="false" aria-controls="locationFormCollapse">
					Управление проектами
				</button>
			</div>
		</div>
		<div class="collapse" id="locationFormCollapse">
			<form method="post" action="{{ url_for('main.AddRemoveLocation') }}">
				{{ location_form.csrf_token }}
				<div class="form-group row">
					<div class="col">
						{{ location_form.location_name(class_ = 'form-control', list='locationsList', placeholder='Введите название проекта...') }}
						<datalist id="locationsList">
						{% for location in locations%}
							<option data-loc_id="{{location.id}}" >{{ location.name }}</option>
						{% endfor %}
						</datalist>
					</div>
				</div>
				<div class="form-group row">
					<div class="col">
						{{ location_form.site_name(class_ = 'form-control', list='sitesList', placeholder='Введите название объекта...') }}
						<datalist id="sitesList">
						</datalist>
					</div>
				</div>
				<div class="form-group row">
					<div class="col">
						{{ location_form.submit1(class_ = 'btn btn-primary') }}
						{{ location_form.submit2(class_ = 'btn btn-danger') }}
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="container border-bottom">
		<div class="row">
			<div class="col">
				<a href="{{ url_for('auth.PerformRegistration') }}">Создание нового пользователя</a>
			</div>			
			<div class="col">
				<a href="/static/app.log">Лог файл веб приложения</a>
			</div>
			<div class="col">			
				<a href="https://map.pushkind.com/static/app.log">Лог файл map.pushkind.com</a>
			</div>
		</div>	
		<div class = "row my-2">
			<div class="col">	
				<span class="font-weight-bold">ПОЛЬЗОВАТЕЛИ</span>
			</div>
		</div>		
		<div class="row">
			<div class="col">
				<input class="form-control" id="usersFilter" type="text" placeholder="Фильтр..">
			</div>
		</div>
		<table class="table table-striped table-responsive table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">ФИО</th>
					<th scope="col">Телефон</th>
					<th scope="col">Email</th>
					<th scope="col">Роль</th>
					<th scope="col">Площадка</th>
					<th scope="col">Права</th>
					<th scope="col">Вход</th>
					
				</tr>
			</thead>
			<tbody id="usersTable">
				{% for user in users %}
					<tr class="showUserModal" data-id = "{{ user.id }}">
						<th scope="row">
							{{ user.id }}
						</th>
						<td>
							{{ user.name }}
						</td>
						<td>
							{{ user.phone }}
						</td>
						<td>
							{{ user.email }}
						</td>
						<td>
							{{ user.position }}
						</td>
						<td>
							{{ user.place or '' }}
						</td>
						<td>
							{{ user.role }}
						</td>
						<td>
							{{ moment(user.last_logon).format() if user.last_logon is not none }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="userModalLabel">НАСТРОЙКИ ПОЛЬЗОВАТЕЛЯ</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="{{ url_for('main.ShowSettings') }}">
					<div class="modal-body">
						{{ role_form.csrf_token }}
						{{ role_form.user_id }}
						<div class="form-group row">
							{{ role_form.about_user.full_name.label(class_ = "col-md-2 col-form-label") }}
							<div class="col-md-10">
								{{ role_form.about_user.full_name(class_ = 'form-control') }}
							</div>
						</div>
						<div class="form-group row">
							{{ role_form.about_user.phone.label(class_ = "col-md-2 col-form-label") }} 
							<div class="col-md-10">
								{{ role_form.about_user.phone(class_ = 'form-control') }}
							</div>
						</div>
						<div class="form-group row">
							{{ role_form.about_user.position.label(class_ = "col-md-2 col-form-label") }} 
							<div class="col-md-10">
								{{ role_form.about_user.position(class_ = 'form-control') }}
							</div>
						</div>
						<div class="form-group row">
							{{ role_form.about_user.place.label(class_ = "col-md-2 col-form-label") }} 
							<div class="col-md-10">
								{{ role_form.about_user.place(class_ = 'form-control') }}
							</div>
						</div>
						<div class="form-group row">
							{{ role_form.role.label(class_ = "col-md-2 col-form-label") }} 
							<div class="col-md-10">
								{{ role_form.role(class_ = 'form-control') }}
							</div>
						</div>
						<p class="text-muted"><small>После смены роли необходимо сохранить, прежде чем настраивать проекты и категории.</small></p>
						<div class="form-group row">
							<div class="col-md-2">Оповещения</div>
							<div class="col-md-10">
								<div class="form-check form-check-inline">
									{{ role_form.about_user.email_new(class_="form-check-input") }}
									{{ role_form.about_user.email_new.label(class_="form-check-label") }}
								</div>
								<div class="form-check form-check-inline">
									{{ role_form.about_user.email_modified(class_="form-check-input") }}
									{{ role_form.about_user.email_modified.label(class_="form-check-label") }}
								</div>
								<div class="form-check form-check-inline">
									{{ role_form.about_user.email_disapproved(class_="form-check-input") }}
									{{ role_form.about_user.email_disapproved.label(class_="form-check-label") }}
								</div>
								<div class="form-check form-check-inline">
									{{ role_form.about_user.email_approved(class_="form-check-input") }}
									{{ role_form.about_user.email_approved.label(class_="form-check-label") }}
								</div>
							</div>
						</div>
						<div class="row my-1" id="userDataWrapper">
							{{ role_form.about_user.user_data(class_='form-control d-none', hidden='') }}
							<div class="col">
								<p class="font-weight-bold">Проекты</p>
								{% for location in locations %}
									<div class="form-check">
										<label class="form-check-label">
											<input type="checkbox" class="form-check-input locationCheck" value="{{ location.name }}"><span class="text-capitalize">{{ location.name }}</span>
										</label>
									</div>
								{% endfor %}
							</div>
							<div class="col">
								<p class="font-weight-bold">Категории</p>
								{% for category in categories %}
									<div class="form-check">
										<label class="form-check-label">
											<input type="checkbox" class="form-check-input categoryCheck" value="{{ category.name }}">{{ category.name }}
										</label>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="modal-footer">
						{{ role_form.submit2(class_ = 'btn btn-primary') }}
						<a href="" id="removeUserButton" class="btn btn-danger" onclick="return confirm('Удалить пользователя?')">Удалить</a>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% else %}

	<div class="container">
		<div class="row my-2">
			<div class="col">	
				<span class="font-weight-bold">НАСТРОЙКИ ПОЛЬЗОВАТЕЛЯ</span>
			</div>
		</div>				
		<form method="post">
			{{ user_form.csrf_token }}
			<div class="form-group row">
				{{ user_form.about_user.full_name.label(class_ = "col-md-2 col-form-label") }}
				<div class="col-md-10">
					{{ user_form.about_user.full_name(class_ = 'form-control', autofocus = '', value = current_user.name) }}
				</div>
			</div>
			<div class="form-group row">
				{{ user_form.about_user.phone.label(class_ = "col-md-2 col-form-label") }} 
				<div class="col-md-10">
					{{ user_form.about_user.phone(class_ = 'form-control', value = current_user.phone) }}
				</div>
			</div>
			<div class="form-group row">
				{{ user_form.about_user.position.label(class_ = "col-md-2 col-form-label") }} 
				<div class="col-md-10">
					{{ user_form.about_user.position(class_ = 'form-control', value = current_user.position) }}
				</div>
			</div>
			<div class="form-group row">
				{{ user_form.about_user.place.label(class_ = "col-md-2 col-form-label") }} 
				<div class="col-md-10">
					{{ user_form.about_user.place(class_ = 'form-control', value = current_user.place) }}
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-2">Оповещения</div>
				<div class="col-md-10">
					<div class="form-check form-check-inline">
						{{ user_form.about_user.email_new(class_="form-check-input", checked=current_user.email_new) }}
						{{ user_form.about_user.email_new.label(class_="form-check-label") }}
					</div>
					<div class="form-check form-check-inline">
						{{ user_form.about_user.email_modified(class_="form-check-input", checked=current_user.email_modified) }}
						{{ user_form.about_user.email_modified.label(class_="form-check-label") }}
					</div>
					<div class="form-check form-check-inline">
						{{ user_form.about_user.email_disapproved(class_="form-check-input", checked=current_user.email_disapproved) }}
						{{ user_form.about_user.email_disapproved.label(class_="form-check-label") }}
					</div>
					<div class="form-check form-check-inline">
						{{ user_form.about_user.email_approved(class_="form-check-input", checked=current_user.email_approved) }}
						{{ user_form.about_user.email_approved.label(class_="form-check-label") }}
					</div>
				</div>
			</div>
			{% if current_user.role.name in ['validator', 'approver'] %}
				<div class="row">
					{{ user_form.about_user.user_data(class_='form-control d-none', hidden='') }}
					<div class="col">
						<p class="font-weight-bold">Проекты</p>
						{% for location in locations %}
							<div class="form-check">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input locationCheck" value="{{ location.name }}"><span class="text-capitalize">{{ location.name }}</span>
								</label>
							</div>
						{% endfor %}
					</div>
					<div class="col">
						<p class="font-weight-bold">Категории</p>
						{% for category in categories %}
							<div class="form-check">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input categoryCheck" value="{{ category.name }}">{{ category.name }}
								</label>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
			<div class="form-group row">
				<div class="col">
					{{ user_form.submit3(class_ = 'btn btn-primary') }}
				</div>
			</div>
		</form>
	</div>
{% endif %}

{% endblock %}

{% block scripts %}

<script>
	$(document).ready(function(){
		//Scripts
		{% if current_user.role.name in ['validator', 'admin', 'approver'] %}
			var userData = $("#about_user-user_data");
		{% endif %}
		
		{% if current_user.role.name == 'admin' %}
			var users = [
						{% for user in users %}
							{{ user|safe }},
						{% endfor %}
						];
						
			var locations = [
						{% for location in locations %}
							{{ location|safe }},
						{% endfor %}
							];



			$("#usersFilter").on("keyup", function() {
				let value = $(this).val().toLowerCase();
				$("#usersTable tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});

			$(".showUserModal").click(function(){
				$('#userModal').modal();
				let user_id = Number($(this).attr('data-id'));
				$("#user_id").val(user_id);
				users.forEach(function(user){
					if (user["id"] == user_id){
						$("#about_user-phone").val(user["phone"]);
						$("#about_user-position").val(user["position"]);
						$("#about_user-place").val(user["place"]);
						$("#about_user-full_name").val(user["name"]);
						$("#about_user-email_new").prop("checked", user["email_new"]);
						$("#about_user-email_modified").prop("checked", user["email_modified"]);
						$("#about_user-email_disapproved").prop("checked", user["email_disapproved"]);
						$("#about_user-email_approved").prop("checked", user["email_approved"]);
						$("#role").val(user["role_id"]);
						$("#removeUserButton").attr('href','/remove/'+user_id);
						if (user["role"] == "validator" || user["role"] == "approver"){
							$("#userDataWrapper").show();
							MakeUserDataCheckboxes(user["data"]);
							MakeUserData();
						}
						else{
							$("#userDataWrapper").hide();
							userData.val('');
							userData.removeAttr('value');
						}
					}
				});
			});

			$("#location_name").on('input', function () {
				let val = this.value;
				let sitesList = $("#sitesList");
				sitesList.empty();
				for(let i = 0, locLen=locations.length; i < locLen; i++) {
					loc = locations[i];
					if (loc["name"].toUpperCase() === val.toUpperCase()){
						for (j = 0, siteLen = loc["sites"].length; j < siteLen; j++)
						{
							sitesList.append($("<option>").text(loc["sites"][j]["name"]));
						}
						break;
					}
				}
			});
			$("#role").change(function(){				
				userData.val('');
				userData.removeAttr('value');
				$(".locationCheck,.categoryCheck").prop("checked", false);
				$("#userDataWrapper").hide();
			});
		{% endif %}
		{% if current_user.role.name in ['validator', 'admin', 'approver'] %}	
			function MakeUserData(){
				var locations = [];
				var categories = [];
				$.each($(".locationCheck:checked"), function(){
					locations.push($(this).val());
				});
				$.each($(".categoryCheck:checked"), function(){
					categories.push($(this).val());
				});
				var jObj = {locations:locations, categories:categories};
				userData.val(JSON.stringify(jObj));
			}
			
			function MakeUserDataCheckboxes(jObj){
				$(".locationCheck,.categoryCheck").prop("checked", false);
				jObj["locations"].forEach(function(loc){
					var selector = ".locationCheck[value='"+loc+"']";
					$(selector).prop("checked", true);
				});
				jObj["categories"].forEach(function(cat){
					var selector = ".categoryCheck[value='"+cat+"']";
					$(selector).prop("checked", true);
				});
			}
			$('.locationCheck, .categoryCheck').on('change', MakeUserData);
		{% endif %}
		{% if current_user.role.name in ['validator', 'approver'] %}
			{% if current_user.data %}
				var jObj = {{ current_user.data|tojson|safe }};
				MakeUserDataCheckboxes(jObj);
				MakeUserData();
			{% endif %}
		{% endif %}
	});
</script>
{%endblock %}