{% extends "base.html" %}

{% block styles%}

{% endblock %}

{% block content %}

<div class="container my-2">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <input class="form-control" id="productFilter" type="text" placeholder="Фильтр..">
        </div>
    </div>

</div>

<div class="container bg-white border rounded">

    <nav class="navbar navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('main.ShopCart')}}">
                <i class="bi bi-cart"></i>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.ShopCategories')}}" id="siteProjectSelect">Выбор проекта и объекта</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{url_for('main.ShopCategories')}}">Категории</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{url_for('main.ShopVendors', cat_id=category.id)}}">{{category.name}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{vendor.name}}</li>
        </ol>
    </nav>

    <div id="productList">
        {% for product in products %}
            <div class="row border-top border-bottom my-1 py-3" data-id="{{product.id}}">
                <div class="col selectable">
                    <img src="{{config['IMAGE_HOSTING_URL']}}{{product.image}}" height="96" width="96" alt="thumbnail">
                </div>
                <div class="col mt-2 selectable">
                    <h5>{{product.name}}</h5>
                </div>
                <div class="col-sm selectable">
                    <strong>Артикул:</strong> {{product.sku}}
                    <br>
                    <strong>Цена:</strong> {{product.price}}
                    <br>
                    <strong>Единицы:</strong> {{product.measurement}}
                </div>
                <div class="col-sm">
                    <div class="input-group">
                        <input type="number" class="form-control" min="0" step="1" aria-label="Количество" aria-describedby="button-addon{{product.id}}" id="input-addon{{product.id}}">
                        <button class="btn btn-outline-primary addToCart" type="button" id="button-addon{{product.id}}" data-id="{{product.id}}" data-name="{{product.name}}" data-sku="{{product.sku}}">Заявить</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="descriptionModal{{product.id}}" tabindex="-1" aria-labelledby="#descriptionModalLabel{{product.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="descriptionModalLabel{{product.id}}">{{product.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <strong>Описание:</strong> {{product.description}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {

        var shoppingCart = sessionStorage.getItem('shoppingCart');
        if (!shoppingCart){
            shoppingCart = [];
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
        }
        else {

            try {
                shoppingCart = JSON.parse(shoppingCart);
                shoppingCart.forEach(element => {
                    let input = $('#input-addon'+element['id']);
                    if (input){
                        input.val(element['quantity']);
                        let button = $('#button-addon'+element['id']);
                        if (button){
                            button.addClass('btn-success');
                            button.removeClass('btn-outline-primary');
                            button.text("В заявке");
                        }
                    }
                });
            } catch(e) {
                shoppingCart = [];
                sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
            }
        }

        let project_id = sessionStorage.getItem('project_id');
        let site_id = sessionStorage.getItem('site_id');
        let site_name = sessionStorage.getItem('site_name');
        let project_name = sessionStorage.getItem('project_name');
        if (!project_id || !site_id || !project_name || !site_name)
            window.location = "{{url_for('main.ShopCategories')}}";
        $("#siteProjectSelect").text(project_name + ', ' + site_name);
        $("#siteProjectSelect").click(function(){
            sessionStorage.removeItem("project_id");
            sessionStorage.removeItem("project_name");
            sessionStorage.removeItem("site_id");
            sessionStorage.removeItem("site_name");
        });
        $(".addToCart").click(function(){
            let itemId = Number($(this).data('id'));
            let itemName = $(this).data('name');
            let itemSku = $(this).data('sku');
            let itemQuantity = Number($(this).siblings('input').val());
            if (itemQuantity > 0) {
                let cartItem = shoppingCart.find(obj => {return obj['id'] === itemId});
                if (!cartItem){
                    cartItem = {
                        "id": itemId,
                        "name": itemName,
                        "sku": itemSku
                    }
                    shoppingCart.push(cartItem);
                }
                cartItem["quantity"] = itemQuantity;
                $(this).addClass('btn-success');
                $(this).removeClass('btn-outline-primary');
                $(this).text("В заявке");
            }
            else {
                shoppingCart = shoppingCart.filter(obj => {return obj['id'] !== itemId});
                $(this).addClass('btn-outline-primary');
                $(this).removeClass('btn-success');
                $(this).text("Заявить");
            }
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
        });
        $("#productFilter").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#productList > .row").filter(function () {
                let show = $(this).text().toLowerCase().indexOf(value) > -1;
                $(this).toggle(show);
            });
        });
        $(".selectable").click(function (event) {
            let productId = $(this).parent('.row').attr('data-id');
            let modalElement = document.getElementById('descriptionModal'+productId);
            let descriptionModal = bootstrap.Modal.getInstance(modalElement);
            if (!descriptionModal)
                descriptionModal= new bootstrap.Modal(modalElement, {});
            descriptionModal.show();
        });
    });

</script>
{%endblock %}