{% extends "base.html" %}

{% block styles%}

{% endblock %}

{% block content %}
<script>
    function CloneProduct() {
        event.preventDefault();
        event.stopPropagation();
        const content = event.target.closest('.cartItem');
        const productPos = Number(content.getAttribute("data-pos"));
        let item = shoppingCart[productPos];
        if (item) {
            shoppingCart.push(item);
            sessionStorage.setItem("shoppingCart", JSON.stringify(shoppingCart));
            PopulateProduct(item, shoppingCart.length - 1);
            SetInCartText(shoppingCart);
        }
    }
    function ShowDescriptionModal() {
        const productPos = Number(event.currentTarget.getAttribute("data-pos"));
        let modalElement = document.getElementById("descriptionModal");
        let descriptionModal = bootstrap.Modal.getInstance(modalElement);
        if (!descriptionModal)
            descriptionModal = new bootstrap.Modal(modalElement, {});
        let item = shoppingCart[productPos];
        if (item) {
            modalElement.dataset.pos = productPos;
            SyncProductModal(modalElement, item, true, false);
            descriptionModal.show();
        }
    }
</script>
<div class="container my-2">

    <div class="row justify-content-center">
        <div class="col">
            <div class="alert bg-yellow">
                Проверьте заявку и нажмите «отправить» внизу экрана.
                <br>
                Внимание! Вы можете нажать «клонировать» и продублировать позицию с другим комментарием.
                Не возвращайтесь в каталог до отправки заявки, чтобы изменения не пропали.
                <br>
                Для удаления позиции просто укажите 0 в поле количества
            </div>
        </div>
    </div>

</div>

<div class="container">

    <div class="row my-2">
        <div class="col overflow-hidden">
            <strong>НОВАЯ ЗАЯВКА</strong>
        </div>
        <div class="col-auto text-end overflow-hidden">
            <a class="text-muted" href="{{url_for('main.ShopCategories')}}">
                Вернуться в каталог
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>Проект:</strong>
            <a href="{{url_for('main.ShopCategories')}}" id="projectSelect" class="siteProjectSelect">Не указан</a><br>
            <strong>Объект:</strong>
            <a href="{{url_for('main.ShopCategories')}}" id="siteSelect" class="siteProjectSelect">Не указан</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>Инициатор:</strong>
            {% set user = current_user %}
            {% include '_user.popover.html' %}
            {{ user.name or user.email }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <span id="inCartItems"></span>
        </div>
    </div>

    <form method="POST" action="{{url_for('main.ShopOrder')}}" id="shoppingCartForm">
        {{ form.csrf_token(id=False) }}
        {{ form.project_id(class_='d-none') }}
        {{ form.site_id(class_='d-none') }}
        <div class="alert alert-secondary my-1" id="emptyCartAlert">
            Корзина пуста
        </div>
        <div id="shoppingCartItems">
        </div>
        <div class="row my-3">
            <div class="col text-center">
                {{ form.submit(class_='btn btn-primary text-white d-none') }}
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="#descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descriptionModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div id="carouselControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="carousel-item active">
                                        <img src="{{config['PLACEHOLDER_IMAGE']}}" class="d-block w-100"
                                            alt="Main image" />
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" rows="3"
                            placeholder="место для комментария или ссылки на файл в облаке"></textarea>
                    </div>
                    <div class="col-4">
                        <input placeholder="Количество" type="number" class="form-control" min="0" step="1"
                            aria-label="Количество">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addToCart" data-bs-dismiss="modal">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block templates %}
<div class="row rounded bg-white my-1 cartItem selectable" id="cartItemTemplate" onclick="ShowDescriptionModal()">
    <div class="col-auto">
        <input required type="number" class="d-none" name="cart-_-product" hidden id="productIdTemplate">
        <input type="text" class="d-none" name="cart-_-text" hidden id="productTextTemplate">
        <input type="text" class="d-none" name="cart-_-options" hidden id="productOptionsTemplate">
        <img id="productImageTemplate" src="{{ config['PLACEHOLDER_IMAGE'] }}" height="64" width="64">
    </div>
    <div class="col col-sm-6 overflow-hidden">
        <h5 id="productNameTemplate"></h5>
        <div class="row">
            <div class="col small">
                Артикул: <span id="productSkuTemplate"></span>
            </div>
        </div>
        <div class="row d-none">
            <div class="col small" id="productOptionsValuesTemplate">
            </div>
        </div>
        <div class="row d-none">
            <div class="col small">
                Комментарий: <strong id="productTextValueTemplate" class="productTextValue"></strong>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#" class="cloneProductButton" onclick="CloneProduct()">клонировать</a>
            </div>
        </div>
    </div>
    <div class="col-sm overflow-hidden pt-sm-4">
        <span id="productVendorTemplate"></span>
    </div>
    <div class="col overflow-hidden pt-sm-4 pt-2">
        <strong id="productPriceTemplate"></strong>
        ₽/<span id="productMeasurementTemplate"></span>
    </div>
    <div class="col overflow-hidden pt-sm-3 mb-1">
        <input readonly type="number" class="form-control productQuantity" name="cart-_-quantity"
            id="productQuantityTemplate" aria-label="Количество">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/shoppingCart.js') }}"></script>
<script>
    var shoppingCart = [];
    document.addEventListener("DOMContentLoaded", function () {

        shoppingCart = GetShoppingCart();
        shoppingCart.forEach(PopulateProduct);
        SetInCartText(shoppingCart);
        const [projectId, siteId, siteName, projectName] = CheckProjectAndSiteSet("{{ url_for('main.ShopCategories') }}");

        document.querySelector("#projectSelect").textContent = projectName;
        document.querySelector("#siteSelect").textContent = siteName;
        document.querySelector("#project_id").value = projectId;
        document.querySelector("#site_id").value = siteId;

        const submitButton = document.querySelector("#submit");
        const emptyCartAlert = document.querySelector("#emptyCartAlert");
        if (shoppingCart.length > 0) {
            submitButton.classList.remove("d-none");
            emptyCartAlert.classList.add("d-none");
        }

        submitButton.addEventListener("click", function () {
            shoppingCart = [];
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
        });

        const addToCartButtons = document.querySelectorAll(".addToCart");

        addToCartButtons.forEach(function (addToCartButton) {
            addToCartButton.addEventListener("click", function () {
                const form = this.closest('.modal');
                const productPos = Number(form.dataset.pos);
                const quantityInput = form.querySelector("input");
                const textInput = form.querySelector("textarea");
                const itemQuantity = Number(quantityInput.value);
                const itemText = textInput.value;
                let cartItem = document.querySelector(`div.cartItem[data-pos="${productPos}"]`);

                if (!itemQuantity || itemQuantity == 0) {
                    shoppingCart[productPos] = null;
                    cartItem.remove();
                } else {
                    shoppingCart[productPos]['quantity'] = itemQuantity;
                    shoppingCart[productPos]['text'] = itemText;
                    let quantityInput = cartItem.querySelector(".productQuantity");
                    quantityInput.value = itemQuantity;
                    let textInput = cartItem.querySelector(".productTextValue");
                    textInput.textContent = itemText;
                }

                if (shoppingCart.filter(Boolean).length == 0) {
                    shoppingCart = [];
                    submitButton.classList.add("d-none");
                    emptyCartAlert.classList.remove("d-none");
                }
                sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
                SetInCartText(shoppingCart);
            });
        });

    });

</script>
{%endblock %}