{% extends "base.html" %}

{% block styles%}
{% endblock %}

{% block content %}

<div class="container my-2">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <input class="form-control" id="productFilter" type="text" placeholder="Фильтр.." />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% set glob={} %}
            {% for vendor in vendors %}
            {% if vendor_id == vendor.id %}
            {% set _ = glob.update({'vendor_name':vendor.name}) %}
            <a href="{{ url_for('main.ShopProducts', vendor_id=vendor.id, cat_id=category.id) }}"
                class="text-decoration-none badge bg-primary">{{ vendor.name }}</a>
            {% else %}
            <a href="{{ url_for('main.ShopProducts', vendor_id=vendor.id, cat_id=category.id) }}"
                class="text-decoration-none badge bg-white fw-normal text-secondary border">{{ vendor.name }}</a>
            {% endif %}
            {% endfor %}
            <a href="{{ url_for('main.ShopProducts',cat_id=category.id) }}"
                class="text-decoration-none badge {% if vendor_id is none %}bg-primary{% else %}bg-white fw-normal text-secondary border{% endif %}">все</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col overflow-hidden">
            <strong>НОВАЯ ЗАЯВКА</strong><br />
            <a class="text-muted text-decoration-none" href="{{url_for('main.ShopCategories')}}"
                id="siteProjectSelect">Выбор проекта и объекта</a>
        </div>
        <div class="col-auto text-end overflow-hidden">
            <a class="text-muted" href="{{url_for('main.ShopCart')}}">
                <i class="bi bi-cart fs-4"></i><br />
                <small class="text-muted" id="inCartItems"></small>
            </a>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{url_for('main.ShopCategories')}}">Категории</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{url_for('main.ShopProducts', cat_id=category.id)}}">{{category.name}}</a>
            </li>
            {% if 'vendor_name' in glob %}
            <li class="breadcrumb-item active" aria-current="page">{{glob['vendor_name']}}</li>
            {% endif %}
        </ol>
    </nav>

    <div id="productList">
        {% for product in products %}
        <div id="product{{product.id}}" class="row bg-white my-1 rounded selectable" data-id="{{product.id}}">
            <div class="col-auto">
                <img src="{{product.image or config['PLACEHOLDER_IMAGE']}}" height="64" width="64">
            </div>
            <div class="col col-sm-6 overflow-hidden">
                <h5>{{product.name}}</h5>
                <small>Артикул: {{product.sku}}</small>
            </div>
            <div class="col-sm overflow-hidden pt-sm-4">{{ product.vendor.name }}</div>
            <div class="col overflow-hidden pt-sm-4 pt-2">
                <strong>{{'{:,.2f}'.format(product['price'])}} </strong>₽/<strong>{{product.measurement}}</strong>
            </div>
            <div class="col overflow-hidden pt-sm-3 mb-1">
                <input disabled type="number" class="form-control productQuantity" min="0" step="1"
                    aria-label="Количество">
            </div>
        </div>
        <div class="modal fade" id="descriptionModal{{product.id}}" tabindex="-1" data-id="{{product.id}}"
            data-name="{{product.name}}" data-sku="{{product.sku}}" data-price="{{product.price}}"
            data-vendor="{{product.vendor.name}}" data-image="{{product.image or ''}}"
            data-measurement="{{product.measurement}}" aria-labelledby="#descriptionModalLabel{{product.id}}"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="descriptionModalLabel{{product.id}}">{{product.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <div id="carouselControls{{product.id}}" class="carousel carousel-dark slide"
                                    data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="{{product.image or config['PLACEHOLDER_IMAGE']}}"
                                                class="d-block w-100" alt="Main image" />
                                        </div>
                                        <div class="carousel-item">
                                            <img src="{{product.image or config['PLACEHOLDER_IMAGE']}}"
                                                class="d-block w-100" alt="Media image" />
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselControls{{product.id}}" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselControls{{product.id}}" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <strong>Описание:</strong>
                        <pre>{{product.description or ''}}</pre>
                        {% if product.options %}
                        {% for rows in product.options|batch(3) %}
                        <div class="row">
                            {% for option in rows %}
                            <div class="col-sm-4 my-1">
                                <select class="form-select" data-name="{{option}}">
                                    <option selected disabled>{{ option }}</option>
                                    {% for value in product.options[option]%}
                                    <option value="{{value}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control" rows="3"
                                    placeholder="место для комментария или ссылки на файл в облаке"></textarea>
                            </div>
                            <div class="col-4">
                                <input placeholder="Количество" type="number" class="form-control" min="0" step="1"
                                    aria-label="Количество">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary addToCart"
                            data-bs-dismiss="modal">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/shoppingCart.js') }}"></script>
<script>
    $(document).ready(function () {

        var shoppingCart = SyncShoppingCart(shoppingCart);

        let project_id = sessionStorage.getItem("project_id");
        let site_id = sessionStorage.getItem("site_id");
        let site_name = sessionStorage.getItem("site_name");
        let project_name = sessionStorage.getItem("project_name");
        if (!project_id || !site_id || !project_name || !site_name)
            window.location = "{{url_for('main.ShopCategories')}}";

        $("#siteProjectSelect").text(project_name + ", " + site_name);

        $("#siteProjectSelect").click(function () {
            sessionStorage.removeItem("project_id");
            sessionStorage.removeItem("project_name");
            sessionStorage.removeItem("site_id");
            sessionStorage.removeItem("site_name");
        });

        $(".addToCart").on("click", function () {
            let form = $(this).closest('.modal');
            shoppingCart = AddToCart(form, shoppingCart);
        });

        $("#productFilter").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#productList .row").filter(function () {
                let show = $(this).text().toLowerCase().indexOf(value) > -1;
                $(this).toggle(show);
            });
        });

        $(".selectable").click(function (event) {
            let productId = $(this).data("id");
            let modalElement = document.getElementById("descriptionModal" + productId);
            let descriptionModal = bootstrap.Modal.getInstance(modalElement);
            if (!descriptionModal)
                descriptionModal = new bootstrap.Modal(modalElement, {});
            SyncProductModal($(modalElement), shoppingCart);
            descriptionModal.show();
        });
    });
</script>
{%endblock %}