{% extends "base.html" %}

{% block styles%}

{% endblock %}

{% block content %}

<div class="container my-2">

    <div class="row justify-content-center">
        <div class="col">
            <div class="alert bg-yellow">
                Проверьте заявку. Вы можете исправить количество или вернуться
                в каталог, чтобы добавить товары. Для удаления позиции просто
                укажите 0 в поле количества. Внимание клонированные товары не
                сохранятся после ухода со страницы. Если заявка готова - нажмите "отправить"
                внизу экрана.
            </div>
        </div>
    </div>

</div>

<div class="container">

    <div class="row my-2">
        <div class="col overflow-hidden">
            <strong>НОВАЯ ЗАЯВКА</strong>
            от {{ moment().format('DD.MM.YYYY') }}
        </div>
        <div class="col-auto text-end overflow-hidden">
            <a class="text-muted" href="{{url_for('main.ShopCategories')}}">
                Вернуться в каталог
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>Проект:</strong>
            <a href="{{url_for('main.ShopCategories')}}" id="projectSelect" class="siteProjectSelect">Не указан</a><br>
            <strong>Объект:</strong>
            <a href="{{url_for('main.ShopCategories')}}" id="siteSelect" class="siteProjectSelect">Не указан</a>
        </div>
    </div>
	<div class="row">
		<div class="col">
			<strong>Инициатор:</strong>
			{% set user = current_user %}
			{% include '_user.popover.html' %}
			{{ user.name }}
		</div>
	</div>
    <div class="row mt-2">
        <div class="col">
            <span id="inCartItems"></span>
        </div>
    </div>

    <form method="POST" action="{{url_for('main.ShopCart')}}" id="shoppingCartForm">
        {{ form.csrf_token(id=False) }}
        {{ form.project_id(class_='d-none') }}
        {{ form.site_id(class_='d-none') }}
        <div class="alert alert-secondary my-1" id="emptyCartAlert">
            Корзина пуста
        </div>
        <div id="shoppingCartItems">
        </div>
        <div class="row my-3">
            <div class="col text-center">
                {{ form.submit(class_='btn btn-primary text-white d-none') }}
            </div>
        </div>
    </form>

</div>

{% endblock %}

{% block templates %}
<div class="row rounded bg-white my-1 py-1 cartItem" id="cartItemTemplate">
    <div class="col-auto">
        <input required type="number" class="d-none productIdInput" name="cart-_-product" hidden id="productIdTemplate">
        <img id="productImageTemplate" src="{{ config['PLACEHOLDER_IMAGE'] }}" height="64" width="64" alt="thumbnail">
    </div>
    <div class="col overflow-hidden">
        <h5 id="productNameTemplate"></h5>
        <small>Артикул: <span id="productSkuTemplate"></span></small>
        <br><button type="button" class="cloneProductButton btn btn-link">клонировать</button>
    </div>
    <div class="col-sm-2 overflow-hidden">
        <span id="productVendorTemplate"></span>
    </div>
    <div class="col-sm-2 overflow-hidden">
        Цена: <strong id="productPriceTemplate" class="productPrice"></strong>
        <br>
        Единицы: <strong id="productMeasurementTemplate"></strong>
        <br>
        <div class="input-group my-1">
            <span class="input-group-text">Кол-во</span>
            <input required type="number" value="1" min="0" step="1" class="form-control addToCart productQuantityInput" name="cart-_-quantity" id="productQuantityTemplate">
        </div>
    </div>
    <div class="col-sm-3 overflow-hidden">
        <textarea style="height: 100%;" class="form-control addToCart productTextInput" name="cart-_-text" id="productTextTemplate" rows="3" placeholder="место для комментария или ссылки на файл в облаке"></textarea>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $.fn.reduce = [].reduce;
        var shoppingCart = sessionStorage.getItem('shoppingCart');
        var shoppingCartItems = $("#shoppingCartItems");

        function SetInCartText(){
            let numItems = shoppingCartItems.children().length;
            if (numItems > 0){
                let cartItems = $(".cartItem");
                let totalPrice = cartItems.reduce((a, b) => a + (Number($(b).data('cost') || 0)), 0);
                $("#inCartItems").text('Всего позиций: ' + numItems + ' на сумму ' + totalPrice.toFixed(2));
            }
            else
                $("#inCartItems").text('');
        }

        if (!shoppingCart){
            shoppingCart = [];
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
        }
        else {

            try {
                shoppingCart = JSON.parse(shoppingCart);
            } catch(e) {
                shoppingCart = [];
                sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
            }
        }

        let project_id = Number(sessionStorage.getItem('project_id'));
        let site_id = Number(sessionStorage.getItem('site_id'));
        let site_name = sessionStorage.getItem('site_name');
        let project_name = sessionStorage.getItem('project_name');
        if (!project_id || !site_id || !project_name || !site_name)
            window.location = "{{url_for('main.ShopCategories')}}";
        $("#projectSelect").text(project_name);
        $("#siteSelect").text(site_name);

        $("#project_id").val(project_id);
        $("#site_id").val(site_id);

        $(".siteProjectSelect").click(function(){
            sessionStorage.removeItem("project_id");
            sessionStorage.removeItem("project_name");
            sessionStorage.removeItem("site_id");
            sessionStorage.removeItem("site_name");
        });

        if (shoppingCart.length > 0){
            $("#submit").removeClass('d-none');
            $("#emptyCartAlert").addClass("d-none");
        }

        let i = 0;
        shoppingCart.forEach(item => {
            let content = $('#cartItemTemplate').clone();
            let sku = content.find('#productSkuTemplate');
            let name = content.find('#productNameTemplate');
            let text = content.find('#productTextTemplate');
            let image = content.find('#productImageTemplate');
            let vendor = content.find('#productVendorTemplate');
            let price = content.find('#productPriceTemplate');
            let product = content.find('#productIdTemplate');
            let quantity = content.find('#productQuantityTemplate');
            let measurement = content.find('#productMeasurementTemplate');

            content.removeAttr('id');
            sku.removeAttr('id');
            name.removeAttr('id');
            text.removeAttr('id');
            image.removeAttr('id');
            vendor.removeAttr('id');
            price.removeAttr('id');
            product.removeAttr('id');
            quantity.removeAttr('id');
            measurement.removeAttr('id');

            content.data('id', item['id']);
            content.data('pos', i);
            content.data('cost', Number(item['price'])*Number(item['quantity']));
            sku.text(item['sku']);
            name.text(item['name']);
            text.val(item['text']);
            if (item['image'])
                image.attr('src', item['image']);
            vendor.text(item['vendor']);
            price.text(item['price'].toFixed(2));
            product.val(item['id']);
            quantity.val(item['quantity']);
            measurement.text(item['measurement']);

            text.attr('name', text.attr('name').replace('_', i));
            product.attr('name', product.attr('name').replace('_', i));
            quantity.attr('name', quantity.attr('name').replace('_', i));

            shoppingCartItems.append(content);
            i++;
        });

        $("#submit").click(function(){
            shoppingCart = [];
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
        });
        $(".addToCart").on("keyup change", function(){
            let form = $(this).closest('.cartItem');
            let timerId = form.data('timer');
            if (timerId)
                clearTimeout(timerId);
            timerId = setTimeout(function(form){
                form.removeData('timer');
                let itemId = Number(form.data('id'));
                let itemQuantityInput = form.find('input.addToCart');
                let itemQuantity = Number(itemQuantityInput.val());
                let itemText = form.find('textarea.addToCart').val();
                if (!itemQuantity || itemQuantity == 0){
                    itemQuantity = 1;
                    itemQuantityInput.val(itemQuantity);
                    shoppingCart = shoppingCart.filter(obj => {return obj['id'] !== itemId});
                    form.remove();
                    if (shoppingCartItems.children().length == 0){
                        $("#submit").addClass('d-none');
                        $("#emptyCartAlert").removeClass("d-none");
                        $(window).off('beforeunload');
                    }
                }
                else {
                    let cartItem = shoppingCart.find(obj => {return obj['id'] === itemId});
                    if (cartItem){
                        cartItem["text"] = itemText;
                        cartItem["quantity"] = itemQuantity;
                    }
                }
                sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
                SetInCartText();
            }, 500, form);
            form.data('timer', timerId);
        });
        $(".cloneProductButton").click(function(){
            let content = $(this).closest('.cartItem');
            let itemPosition = content.data('pos');
            let itemCost = content.data('cost');
            content = content.clone(true, true);
            let text = content.find('textarea.productTextInput');
            let product = content.find('input.productIdInput');
            let quantity = content.find('input.productQuantityInput');
            let itemCount = shoppingCartItems.children().length;
            content.removeData('id');
            content.data('pos', itemCount);
            content.data('cost', itemCost);
            text.attr('name', text.attr('name').replace(itemPosition, itemCount));
            product.attr('name', product.attr('name').replace(itemPosition, itemCount));
            quantity.attr('name', quantity.attr('name').replace(itemPosition, itemCount));
            shoppingCartItems.append(content);
            SetInCartText();
            $(window).on('beforeunload', () => {
                return confirm('Клонированные товары будут потеряны. Покинуть страницу?');
            });
        });
        $("#shoppingCartForm").submit(()=>{
            $(window).off('beforeunload');
            return true;
        });
        SetInCartText();
    });

</script>
{%endblock %}