{% extends "base.html" %}

{% block styles%}

{% endblock %}

{% block content %}

<div class="container bg-white border rounded">

    <nav class="navbar navbar-light bg-white">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.ShopCategories')}}" id="siteProjectSelect">Выбор проекта и объекта</a>
                </li>
            </ul>
            <a class="navbar-text h4" href="{{url_for('main.ShopCart')}}">
                <i class="bi bi-cart"></i>
            </a>
        </div>
    </nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{url_for('main.ShopCategories')}}">Категории</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Корзина</li>
        </ol>
    </nav>

    <form method="POST" action="{{url_for('main.ShopCart')}}" id="shoppingCartForm">
        {{ form.csrf_token }}
        {{ form.project_id(class_='d-none') }}
        {{ form.site_id(class_='d-none') }}
        <div class="row bg-light d-none d-sm-flex border">
            <div class="col overflow-hidden">
                Артикул
            </div>
            <div class="col overflow-hidden">
                Название
            </div>		
            <div class="col-2 overflow-hidden">
                Количество
            </div>
            <div class="col-2 overflow-hidden">
                Удаление
            </div>
        </div>
        <div class="alert alert-secondary my-1" id="emptyCartAlert">
            Корзина пуста
        </div>
        <div id="shoppingCartItems">
        </div>
        <div class="row my-3">
            <div class="col">
                {{ form.submit(class_='btn btn-primary text-white d-none') }}
            </div>
        </div>
    </form>

</div>

{% endblock %}

{% block templates %}
<div class="row my-1 border-bottom cartItem" id="cartItemTemplate">
    <div class="col-sm my-1">
        <span class="d-sm-none fw-bold">Артикул:</span>
        <span id="productSkuTemplate"></span>
    </div>
    <div class="col-sm my-1">
        <div class="row">
            <div class="col">
                <span class="d-sm-none fw-bold">Название:</span>
                <span id="productNameTemplate"></span><br>
            </div>
            <div class="col">
                <textarea class="form-control addToCart" name="cart-_-text" id="productTextTemplate" rows="2"></textarea>                
            </div>
        </div>
    </div>
    <div class="col-sm-2 my-1">
        <input required type="number" class="d-none" name="cart-_-product" hidden id="productIdTemplate">
        <input required type="number" value="1" min="1" step="1" class="form-control addToCart" name="cart-_-quantity" id="productQuantityTemplate">
    </div>
    <div class="col-sm-2 my-1">
        <button class="btn btn-danger removeFromCart" id="productRemoveTemplate">
            Удалить
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {

        var shoppingCart = sessionStorage.getItem('shoppingCart');
        var shoppingCartItems = $("#shoppingCartItems");
        if (!shoppingCart){
            shoppingCart = [];
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
        }
        else {

            try {
                shoppingCart = JSON.parse(shoppingCart);
            } catch(e) {
                shoppingCart = [];
                sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
            }
        }

        let project_id = Number(sessionStorage.getItem('project_id'));
        let site_id = Number(sessionStorage.getItem('site_id'));
        let site_name = sessionStorage.getItem('site_name');
        let project_name = sessionStorage.getItem('project_name');
        if (!project_id || !site_id || !project_name || !site_name)
            window.location = "{{url_for('main.ShopCategories')}}";
        $("#siteProjectSelect").text(project_name + ', ' + site_name);

        $("#project_id").val(project_id);
        $("#site_id").val(site_id);

        $("#siteProjectSelect").click(function(){
            sessionStorage.removeItem("project_id");
            sessionStorage.removeItem("project_name");
            sessionStorage.removeItem("site_id");
            sessionStorage.removeItem("site_name");
        });

        if (shoppingCart.length > 0){
            $("#submit").removeClass('d-none');
            $("#emptyCartAlert").addClass("d-none");
        }

        let i = 0;
        shoppingCart.forEach(item => {
            let content = $('#cartItemTemplate').clone();
            content.data('id', item['id']);
            content.data('name', item['name']);
            content.data('sku', item['sku']);
            content.removeAttr('id');
            let sku = content.find('#productSkuTemplate');
            sku.text(item['sku']);
            sku.removeAttr('id');
            let name = content.find('#productNameTemplate');
            name.text(item['name']);
            name.removeAttr('id');
            let text = content.find('#productTextTemplate');
            let form_name;
            if (item['text']){
                text.val(item['text']);
                text.removeAttr('id');
                form_name = text.attr('name').replace('_', i);
                text.attr('name', form_name);
            }
            else
                text.remove();
            let remove = content.find('#productRemoveTemplate');
            remove.data('id', item['id']);
            remove.removeAttr('id');
            let product = content.find('#productIdTemplate');
            product.val(item['id']);
            product.removeAttr('id');
            form_name = product.attr('name').replace('_', i);
            product.attr('name', form_name);
            let quantity = content.find('#productQuantityTemplate');
            quantity.val(item['quantity']);
            quantity.removeAttr('id');
            form_name = quantity.attr('name').replace('_', i);
            quantity.attr('name', form_name);
            shoppingCartItems.append(content);
            i++;
        });

        $(".removeFromCart").click(function(){
            let itemId = Number($(this).data('id'));
            shoppingCart = shoppingCart.filter(obj => {return obj['id'] !== itemId});
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
            $(this).parent('.row').remove();
            if (shoppingCartItems.children.length == 0){
                $("#submit").addClass('d-none');
                $("#emptyCartAlert").removeClass("d-none");
            }
        });
        $("#submit").click(function(){
            shoppingCart = [];
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
        });
        $(".addToCart").keyup(function(){
            let form = $(this).closest('.cartItem');
            let timerId = form.data('timer');
            if (timerId)
                clearTimeout(timerId);
            timerId = setTimeout(function(form){
                form.removeData('timer');
                let itemId = Number(form.data('id'));
                console.log(itemId);
                let itemName = form.data('name');
                let itemSku = form.data('sku');
                let input = form.find('input.addToCart');
                let itemQuantity = Number(input.val());
                let itemText = form.find('textarea.addToCart').val();
                if (!itemQuantity || itemQuantity == 0){
                    itemQuantity = 1;
                    input.val(itemQuantity);
                }
                let cartItem = shoppingCart.find(obj => {return obj['id'] === itemId});
                if (!cartItem){
                    cartItem = {
                        "id": itemId,
                        "name": itemName,
                        "sku": itemSku
                    }
                    shoppingCart.push(cartItem);
                }
                if (itemText)
                    cartItem["text"] = itemText;
                cartItem["quantity"] = itemQuantity;
            sessionStorage.setItem('shoppingCart', JSON.stringify(shoppingCart));
            }, 500, form);
            form.data('timer', timerId);
        });
    });

</script>
{%endblock %}